{
    "swagger": "2.0",
    "info": {
        "title": "Cobrança Bancária",
        "x-ibm-name": "cobranca-bancaria-v3",
        "version": "3.0.8.0",
        "description": "<pre>[ Base URL: https://api.sicoob.com.br/cobranca-bancaria/v3 ]</pre>\nA Cobrança Bancária Sicoob é um conjunto de serviços oferecidos a seus associados para recebimento de valores referentes às vendas de produtos e serviços da sua empresa, por meio de boletos de cobrança, pagos em toda a rede bancária. Esta API disponibiliza funcionalidades que auxiliam na gestão da carteira registrada, tornando viável todo o processo de acompanhamento, desde a inclusão de novos boletos, alteração de informações relevantes, protesto/negativação de títulos vencidos e não pagos, até a liquidação ou baixa do título.",
        "contact": {
            "name": "Equipe COBRANÇA BANCÁRIA",
            "email": "GrupoGesin1CobrancaBancaria@sicoob.com.br"
        }
    },
    "host": "sandbox.sicoob.com.br/sicoob/sandbox",
    "schemes": [
        "https"
    ],
    "basePath": "/cobranca-bancaria/v3",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "tags": [
        {
            "name": "Boleto",
            "description": "Inclusão e Manutenção de Boleto Bancário."
        },
        {
            "name": "Pagador",
            "description": "Inclusão e Manutenção de Pagador."
        },
        {
            "name": "Negativação",
            "description": "Negativação de Boleto Bancário Vencido e Não Pago."
        },
        {
            "name": "Protesto",
            "description": "Protesto de Boleto Bancário Vencido e Não Pago."
        },
        {
            "name": "Movimentação",
            "description": "Gestão da Carteira de Cobrança Bancária."
        },
        {
            "name": "Webhook",
            "description": "Webhook para notificação periódicas de eventos associados a diferentes tipos de movimento."
        },
        {
            "name": "Apoio",
            "description": "Serviços de apoio da API"
        }
    ],
    "paths": {
        "/boletos": {
            "post": {
                "tags": [
                    "Boleto"
                ],
                "summary": "Incluir boletos",
                "x-sicoob-category": "NÃO FINANCEIRA",
                "description": "Serviço para a inclusão de boletos. É possível a inclusão de 1 boleto por requisição.",
                "parameters": [
                    {
                        "in": "body",
                        "name": "boleto",
                        "description": "Inclusão das informações detalhadas do boleto de cobrança.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Boleto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Solicitação recebida com sucesso.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "resultado": {
                                    "type": "object",
                                    "required": [
                                        "codigoModalidade",
                                        "codigoEspecieDocumento",
                                        "dataEmissao",
                                        "nossoNumero",
                                        "seuNumero",
                                        "codigoBarras",
                                        "linhaDigitavel",
                                        "identificacaoEmissaoBoleto",
                                        "valor",
                                        "numeroParcela",
                                        "aceite",
                                        "codigoProtesto",
                                        "codigoNegativacao",
                                        "tipoDesconto",
                                        "dataVencimento",
                                        "valorAbatimento",
                                        "tipoMulta",
                                        "dataMulta",
                                        "valorMulta",
                                        "tipoJurosMora",
                                        "dataJurosMora",
                                        "valorJurosMora",
                                        "numeroCliente",
                                        "numeroContaCorrente"
                                    ],
                                    "properties": {
                                        "numeroCliente": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número que identifica o contrato do beneficiário.",
                                            "example": 25546454
                                        },
                                        "codigoModalidade": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número que identifica a modalidade do boleto.\n   - 1 SIMPLES COM REGISTRO",
                                            "example": 1
                                        },
                                        "numeroContaCorrente": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número da Conta Corrente para crédito do boleto."
                                        },
                                        "codigoEspecieDocumento": {
                                            "type": "string",
                                            "description": "Espécie do documento\n  - CH - Cheque\n  - DM - Duplicata Mercantil\n  - DMI - Duplicata Mercantil Indicação\n  - DS - Duplicata de Serviço\n  - DSI - Duplicata Serviço Indicação\n  - DR - Duplicata Rural\n  - LC - Letra de Câmbio\n  - NCC - Nota de Crédito Comercial\n  - NCE - Nota de Crédito Exportação\n  - NCI - Nota de Crédito Industrial\n  - NCR - Nota de Crédito Rural\n  - NP - Nota Promissória\n  - NPR - Nota Promissória Rural\n  - TM - Triplicata Mercantil\n  - TS - Triplicata de Serviço\n  - NS - Nota de Seguro\n  - RC - Recibo\n  - FAT - Fatura\n  - ND - Nota de Débito\n  - AP - Apólice de Seguro\n  - ME - Mensalidade Escolar\n  - PC - Pagamento de Consórcio\n  - NF - Nota Fiscal\n  - DD - Documento de Dívida\n  - BDP - Boleto Proposta\n  - OU - Outros",
                                            "example": "DM"
                                        },
                                        "dataEmissao": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data de emissão do boleto\nFormato: yyyy-MM-dd\n",
                                            "example": "2025-09-01"
                                        },
                                        "nossoNumero": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número que identifica o boleto."
                                        },
                                        "seuNumero": {
                                            "type": "string",
                                            "description": "Informar o número que identifica o boleto no sistema do beneficiário.",
                                            "example": "012345678901234567"
                                        },
                                        "identificacaoBoletoEmpresa": {
                                            "type": "string",
                                            "description": "Destinado para uso da Empresa Cedente para identificação do Boleto",
                                            "example": "01234567890123456789"
                                        },
                                        "codigoBarras": {
                                            "type": "string",
                                            "description": "Número de código de barras do boleto com 44 posições.",
                                            "example": "07092501614004706610157633070651479470000006500"
                                        },
                                        "linhaDigitavel": {
                                            "type": "string",
                                            "description": "Número da linha digitável do boleto com 47 posições.",
                                            "example": "42297115040000195441184217468127172300000023124"
                                        },
                                        "identificacaoEmissaoBoleto": {
                                            "type": "integer",
                                            "description": "Identificação de Emissão do Boleto - 1 Banco Emite - 2 Cliente Emite",
                                            "example": 1
                                        },
                                        "identificacaoDistribuicaoBoleto": {
                                            "type": "integer",
                                            "description": "Identificação de Distribuição do Boleto\n  - 1 Banco Distribui\n  - 2 Cliente Distribui",
                                            "example": 1
                                        },
                                        "valor": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor nominal do boleto.",
                                            "example": 156.23
                                        },
                                        "dataVencimento": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data de vencimento do boleto.\nFormato: yyyy-MM-dd\n",
                                            "example": "2025-09-25"
                                        },
                                        "dataLimitePagamento": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data de limite para pagamento do boleto.\nFormato: yyyy-MM-dd\n",
                                            "example": "2025-11-05"
                                        },
                                        "valorAbatimento": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do abatimento.",
                                            "example": 5.57
                                        },
                                        "tipoDesconto": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Informar o tipo de desconto a ser aplicado no boleto.\n    - 0 Sem Desconto\n    - 1 Valor Fixo Até a Data Informada\n    - 2 Percentual até a data informada\n    - 3 Valor por antecipação dia corrido\n    - 4 Valor por antecipação dia útil\n    - 5 Percentual por antecipação dia corrido\n    - 6 Percentual por antecipação dia útil",
                                            "example": 1
                                        },
                                        "dataPrimeiroDesconto": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data do primeiro desconto.\nFormato: yyyy-MM-dd\n",
                                            "example": "2025-09-15"
                                        },
                                        "valorPrimeiroDesconto": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do primeiro desconto",
                                            "example": 22.5
                                        },
                                        "dataSegundoDesconto": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data do segundo desconto\nFormato: yyyy-MM-dd\n",
                                            "example": "2025-09-20"
                                        },
                                        "valorSegundoDesconto": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do segundo desconto",
                                            "example": 15.5
                                        },
                                        "dataTerceiroDesconto": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data do terceiro desconto\nFormato: yyyy-MM-dd\n",
                                            "example": "2025-09-24"
                                        },
                                        "valorTerceiroDesconto": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do terceiro desconto",
                                            "example": 10.5
                                        },
                                        "tipoMulta": {
                                            "type": "integer",
                                            "description": "Tipo de Multa\n  - 0 Isento\n  - 1 Valor Fixo\n  - 2 Percentual",
                                            "example": 1
                                        },
                                        "dataMulta": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Deve ser maior que a data de vencimento do boleto e menor ou igual que data limite de pagamento.\nFormato: yyyy-MM-dd",
                                            "example": "2025-11-05"
                                        },
                                        "valorMulta": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor da multa.",
                                            "example": 5.5
                                        },
                                        "tipoJurosMora": {
                                            "type": "integer",
                                            "description": "Tipo de Juros de Mora\n  - 1 Valor por dia\n  - 2 Taxa Mensal\n  - 3 Isento",
                                            "example": 1
                                        },
                                        "dataJurosMora": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Deve ser maior que a data de vencimento do boleto e menor ou igual que data limite de pagamento.\nFormato: yyyy-MM-dd",
                                            "example": "2025-11-05"
                                        },
                                        "valorJurosMora": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do Juros de Mora.",
                                            "example": 4.5
                                        },
                                        "numeroParcela": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Número da parcela.",
                                            "example": 1
                                        },
                                        "aceite": {
                                            "type": "boolean",
                                            "description": "Identificador do aceite do boleto.",
                                            "example": true
                                        },
                                        "codigoNegativacao": {
                                            "type": "integer",
                                            "description": "Código de Negativação do Boleto\n  - 2 Negativar Dias Úteis\n  - 3 Não Negativar",
                                            "example": 2
                                        },
                                        "numeroDiasNegativacao": {
                                            "type": "integer",
                                            "description": "Número de Dias para Negativação do Boleto",
                                            "example": 60
                                        },
                                        "codigoProtesto": {
                                            "type": "integer",
                                            "description": "Código de Protesto do Boleto\n  - 1 Protestar Dias Corridos\n  - 2 Protestar Dias Úteis\n  - 3 Não Protestar",
                                            "example": 1
                                        },
                                        "numeroDiasProtesto": {
                                            "type": "integer",
                                            "description": "Número de Dias para Protesto do Boleto",
                                            "example": 30
                                        },
                                        "quantidadeDiasFloat": {
                                            "type": "integer",
                                            "description": "Quantidade de Dias de Float.",
                                            "example": 2
                                        },
                                        "pagador": {
                                            "type": "object",
                                            "properties": {
                                                "numeroCpfCnpj": {
                                                    "type": "string",
                                                    "description": "CPF ou CNPJ do pagador. `Tamanho máximo 14`",
                                                    "example": "11122233300"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "description": "Nome completo do pagador. `Tamanho máximo 50`",
                                                    "example": "Nome completo do pagador X"
                                                },
                                                "endereco": {
                                                    "type": "string",
                                                    "description": "Endereço do pagador.",
                                                    "example": "Endereço do pagador X"
                                                },
                                                "bairro": {
                                                    "type": "string",
                                                    "description": "Bairro do pagador.",
                                                    "example": "Bairro do pagador X"
                                                },
                                                "cidade": {
                                                    "type": "string",
                                                    "description": "Cidade do pagador.",
                                                    "example": "Cidade do pagador X"
                                                },
                                                "cep": {
                                                    "type": "string",
                                                    "description": "CEP do pagador.",
                                                    "example": "00000000"
                                                },
                                                "uf": {
                                                    "type": "string",
                                                    "description": "UF do pagador.",
                                                    "example": "OU"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "description": "E-mail do Pagador.",
                                                    "example": "pagador@dominio.com br"
                                                }
                                            }
                                        },
                                        "beneficiarioFinal": {
                                            "type": "object",
                                            "properties": {
                                                "numeroCpfCnpj": {
                                                    "type": "string",
                                                    "description": "CPF ou CNPJ do Beneficário Final. Antigo Sacador Avalista. `Tamanho máximo 14`",
                                                    "example": "11122233300"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "description": "Nome do Beneficário Final. Antigo Sacador Avalista. `Tamanho máximo 40`",
                                                    "example": "Beneficiário Y"
                                                }
                                            }
                                        },
                                        "mensagensInstrucao": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "description": "A lista de mensagem permite 5 mensagens com máximo de 40 caracteres."
                                            },
                                            "example": [
                                                "Descrição da Instrução 1",
                                                "Descrição da Instrução 2",
                                                "Descrição da Instrução 3",
                                                "Descrição da Instrução 4",
                                                "Descrição da Instrução 5"
                                            ]
                                        },
                                        "rateioCreditos": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/RateioCredito"
                                            }
                                        },
                                        "pdfBoleto": {
                                            "type": "string",
                                            "description": "String na Base64 do PDF do Boleto.",
                                            "example": "JVBERi0xLjQKJeLjz9MKMyAwIG9iago8PC9UeXBlL1hPYmplY3QvU3VidHlwZS9JbWFnZS9XaWR0aCA1Nzgv+PgolaVRleHQtNS41LjExCnN0YXJ0eHJlZgoyNzAxOQolJUVPRgo="
                                        },
                                        "qrCode": {
                                            "type": "string",
                                            "description": "QRCode para pagamento com PIX",
                                            "example": "1234567891098765421br.gov.bcb.pix2573pix.sicoob.com.br/qr/payload/v2/cobv/e736df1b-1389-4b96-a070-c8dddac768de5204000053039865802BR5924NOME COMPLETO6008Brasilia62070503***630435A3"
                                        },
                                        "numeroContratoCobranca": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Indicar o id do contatroCobranca",
                                            "example": 1
                                        },
                                        "descricaoRejeicaoPix": {
                                            "type": "string",
                                            "description": "O motivo pelo qual não foi incluído o QRCode para pagamento com PIX.",
                                            "example": "Modalidade não permitida para geração de QR Code."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Possíveis erros de negócio.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    },
                    "406": {
                        "description": "Possíveis erros de inconsistência nos dados passados.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    },
                    "500": {
                        "description": "Erro interno.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Boleto"
                ],
                "summary": "Consultar boleto",
                "x-sicoob-category": "NÃO FINANCEIRA",
                "description": "Serviço para consulta de um boleto bancário. Utiliza as informações do beneficiário logado (número da cooperativa, número identificador do beneficiário e conta corrente), juntamente com a informação do identificador do boleto (nosso número), ou da linha digitável ou do código de barras.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "numeroCliente",
                        "type": "integer",
                        "required": true,
                        "description": "Número que identifica o contrato do beneficiário no Sisbr."
                    },
                    {
                        "in": "query",
                        "name": "codigoModalidade",
                        "type": "integer",
                        "required": true,
                        "description": "Identifica a modalidade do boleto.\n- 1 - SIMPLES COM REGISTRO\n- 3 - CAUCIONADA\n- 4 - VINCULADA\n- 5 - CARNÊ DE PAGAMENTOS \n- 8 - COBRANÇA CONTA CAPITAL"
                    },
                    {
                        "in": "query",
                        "name": "nossoNumero",
                        "type": "integer",
                        "description": "Número identificador do boleto no Sisbr. Caso seja infomado, não é necessário infomar a linha digitável ou código de barras."
                    },
                    {
                        "in": "query",
                        "name": "linhaDigitavel",
                        "type": "string",
                        "description": "Número da linha digitável do boleto com 47 posições. Caso seja informado, não é necessário informar o nosso número ou código de barras."
                    },
                    {
                        "in": "query",
                        "name": "codigoBarras",
                        "type": "string",
                        "description": "Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou linha digitável."
                    },
                    {
                        "in": "query",
                        "name": "numeroContratoCobranca",
                        "type": "integer",
                        "format": "int32",
                        "description": "Indicar o id do contatro de cobrança"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "resultado": {
                                    "type": "object",
                                    "required": [
                                        "numeroCliente",
                                        "codigoModalidade",
                                        "situacaoBoleto",
                                        "codigoEspecieDocumento",
                                        "dataEmissao",
                                        "nossoNumero",
                                        "seuNumero",
                                        "identificacaoBoletoEmpresa",
                                        "codigoBarras",
                                        "linhaDigitavel",
                                        "valor",
                                        "dataVencimento",
                                        "numeroParcela",
                                        "aceite",
                                        "quantidadeDiasFloat",
                                        "valorAbatimento",
                                        "tipoDesconto",
                                        "tipoMulta",
                                        "valorMulta",
                                        "tipoJurosMora",
                                        "valorJurosMora",
                                        "pagador"
                                    ],
                                    "properties": {
                                        "numeroCliente": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número que identifica o contrato do beneficiário.",
                                            "example": 25546454
                                        },
                                        "codigoModalidade": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número que identifica a modalidade do boleto.\n- 1 - SIMPLES COM REGISTRO\n- 3 - CAUCIONADA\n- 4 - VINCULADA\n- 5 - CARNÊ DE PAGAMENTOS \n- 8 - COBRANÇA CONTA CAPITAL",
                                            "example": 1
                                        },
                                        "numeroContaCorrente": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número da Conta Corrente para crédito do boleto."
                                        },
                                        "codigoEspecieDocumento": {
                                            "type": "string",
                                            "description": "Espécie do documento\n  - CH - Cheque\n  - DM - Duplicata Mercantil\n  - DMI - Duplicata Mercantil Indicação\n  - DS - Duplicata de Serviço\n  - DSI - Duplicata Serviço Indicação\n  - DR - Duplicata Rural\n  - LC - Letra de Câmbio\n  - NCC - Nota de Crédito Comercial\n  - NCE - Nota de Crédito Exportação\n  - NCI - Nota de Crédito Industrial\n  - NCR - Nota de Crédito Rural\n  - NP - Nota Promissória\n  - NPR - Nota Promissória Rural\n  - TM - Triplicata Mercantil\n  - TS - Triplicata de Serviço\n  - NS - Nota de Seguro\n  - RC - Recibo\n  - FAT - Fatura\n  - ND - Nota de Débito\n  - AP - Apólice de Seguro\n  - ME - Mensalidade Escolar\n  - PC - Pagamento de Consórcio\n  - NF - Nota Fiscal\n  - DD - Documento de Dívida\n  - CC - Cartão de Crédito\n  - BDP - Boleto Proposta\n  - OU - Outros",
                                            "example": "DM"
                                        },
                                        "dataEmissao": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data de emissão do boleto\nFormato: yyyy-MM-dd\n",
                                            "example": "2018-09-20"
                                        },
                                        "nossoNumero": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número que identifica o boleto."
                                        },
                                        "seuNumero": {
                                            "type": "string",
                                            "description": "Informar o número que identifica o boleto no sistema do beneficiário. `Tamanho máximo 18`",
                                            "example": "1235512"
                                        },
                                        "identificacaoBoletoEmpresa": {
                                            "type": "string",
                                            "description": "Destinado para uso da Empresa Cedente para identificação do Boleto",
                                            "example": "4562"
                                        },
                                        "codigoBarras": {
                                            "type": "string",
                                            "description": "Número de código de barras do boleto com 44 posições.",
                                            "example": "07092501614004706610157633070651479470000006500"
                                        },
                                        "linhaDigitavel": {
                                            "type": "string",
                                            "description": "Número da linha digitável do boleto com 47 posições.",
                                            "example": "42297115040000195441184217468127172300000023124"
                                        },
                                        "identificacaoEmissaoBoleto": {
                                            "type": "integer",
                                            "description": "Identificação de Emissão do Boleto\n  - 1 Banco Emite\n  - 2 Cliente Emite",
                                            "example": 1
                                        },
                                        "identificacaoDistribuicaoBoleto": {
                                            "type": "integer",
                                            "description": "Identificação de Distribuição do Boleto\n  - 1 Banco Distribui\n  - 2 Cliente Distribui",
                                            "example": 1
                                        },
                                        "valor": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor nominal do boleto.",
                                            "example": 156.23
                                        },
                                        "dataVencimento": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data de vencimento do boleto.\nFormato: yyyy-MM-dd\n",
                                            "example": "2018-09-20"
                                        },
                                        "dataLimitePagamento": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data de limite para pagamento do boleto.\nFormato: yyyy-MM-dd\n",
                                            "example": "2018-09-20"
                                        },
                                        "valorAbatimento": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do abatimento.",
                                            "example": 1
                                        },
                                        "tipoDesconto": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Informar o tipo de desconto atribuido ao boleto.\n    - 0 Sem Desconto\n    - 1 Valor Fixo Até a Data Informada\n    - 2 Percentual até a data informada\n    - 3 Valor por antecipação dia corrido\n    - 4 Valor por antecipação dia útil\n    - 5 Percentual por antecipação dia corrido\n    - 6 Percentual por antecipação dia útil",
                                            "example": 1
                                        },
                                        "dataPrimeiroDesconto": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data do primeiro desconto.\nFormato: yyyy-MM-dd\n",
                                            "example": "2018-09-20"
                                        },
                                        "valorPrimeiroDesconto": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do primeiro desconto",
                                            "example": 1
                                        },
                                        "dataSegundoDesconto": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data do segundo desconto\nFormato: yyyy-MM-dd\n",
                                            "example": "2018-09-20"
                                        },
                                        "valorSegundoDesconto": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do segundo desconto",
                                            "example": 0
                                        },
                                        "dataTerceiroDesconto": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data do terceiro desconto\nFormato: yyyy-MM-dd\n",
                                            "example": "2018-09-20"
                                        },
                                        "valorTerceiroDesconto": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do terceiro desconto",
                                            "example": 0
                                        },
                                        "tipoMulta": {
                                            "type": "integer",
                                            "description": "Tipo de Multa\n  - 0 Isento\n  - 1 Valor Fixo\n  - 2 Percentual",
                                            "example": 1
                                        },
                                        "dataMulta": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Deve ser maior que a data de vencimento do boleto e menor ou igual que data limite de pagamento.\nFormato: yyyy-MM-dd",
                                            "example": "2018-09-20"
                                        },
                                        "valorMulta": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor da multa.",
                                            "example": 5
                                        },
                                        "tipoJurosMora": {
                                            "type": "integer",
                                            "description": "Tipo de Juros de Mora\n- 1 Valor por dia\n- 2 Taxa Mensal\n- 3 Isento",
                                            "example": 1
                                        },
                                        "dataJurosMora": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Deve ser maior que a data de vencimento do boleto e menor ou igual que data limite de pagamento. Formato: yyyy-MM-dd",
                                            "example": "2018-09-20"
                                        },
                                        "valorJurosMora": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do Juros de Mora.",
                                            "example": 4
                                        },
                                        "numeroParcela": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Número da parcela.",
                                            "example": 1
                                        },
                                        "aceite": {
                                            "type": "boolean",
                                            "description": "Identificador do aceite do boleto.",
                                            "example": true
                                        },
                                        "numeroDiasNegativacao": {
                                            "type": "integer",
                                            "description": "Número de Dias para Negativação do Boleto",
                                            "example": 60
                                        },
                                        "numeroDiasProtesto": {
                                            "type": "integer",
                                            "description": "Número de Dias para Protesto do Boleto",
                                            "example": 30
                                        },
                                        "quantidadeDiasFloat": {
                                            "type": "integer",
                                            "description": "Quantidade de Dias de Float.",
                                            "example": 2
                                        },
                                        "pagador": {
                                            "type": "object",
                                            "required": [
                                                "nome",
                                                "numeroCpfCnpj",
                                                "endereco",
                                                "bairro",
                                                "cidade",
                                                "uf",
                                                "cep"
                                            ],
                                            "properties": {
                                                "numeroCpfCnpj": {
                                                    "type": "string",
                                                    "description": "CPF ou CNPJ do pagador. `Tamanho máximo 14`",
                                                    "example": "98765432185"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "description": "Nome completo do pagador. `Tamanho máximo 50`",
                                                    "example": "Marcelo dos Santos"
                                                },
                                                "endereco": {
                                                    "type": "string",
                                                    "description": "Endereço do pagador.",
                                                    "example": "Rua 87 Quadra 1 Lote 1 casa 1"
                                                },
                                                "bairro": {
                                                    "type": "string",
                                                    "description": "Bairro do pagador.",
                                                    "example": "Santa Rosa"
                                                },
                                                "cidade": {
                                                    "type": "string",
                                                    "description": "Cidade do pagador.",
                                                    "example": "Luziânia"
                                                },
                                                "cep": {
                                                    "type": "string",
                                                    "description": "CEP do pagador.",
                                                    "example": "72320000"
                                                },
                                                "uf": {
                                                    "type": "string",
                                                    "description": "UF do pagador.",
                                                    "example": "DF"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "description": "E-mail do Pagador.",
                                                    "example": "pagador@dominio.com.br"
                                                }
                                            }
                                        },
                                        "beneficiarioFinal": {
                                            "type": "object",
                                            "properties": {
                                                "numeroCpfCnpj": {
                                                    "type": "string",
                                                    "description": "CPF ou CNPJ do Beneficário Final. Antigo Sacador Avalista. `Tamanho máximo 14`",
                                                    "example": "98784978699"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "description": "Nome do Beneficário Final. Antigo Sacador Avalista. `Tamanho máximo 50`",
                                                    "example": "Lucas de Lima"
                                                }
                                            }
                                        },
                                        "mensagensInstrucao": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "description": "Lista de mensagens de instrução."
                                            },
                                            "example": [
                                                "Descrição da Instrução 1",
                                                "Descrição da Instrução 2",
                                                "Descrição da Instrução 3",
                                                "Descrição da Instrução 4",
                                                "Descrição da Instrução 5"
                                            ]
                                        },
                                        "listaHistorico": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "dataHistorico",
                                                    "tipoHistorico",
                                                    "descricaoHistorico"
                                                ],
                                                "properties": {
                                                    "dataHistorico": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "description": "Data do Hitórico.\nFormato: yyyy-MM-dd\n",
                                                        "example": "2019-05-31"
                                                    },
                                                    "tipoHistorico": {
                                                        "type": "string",
                                                        "description": "Tipo do Histórico.",
                                                        "example": 1
                                                    },
                                                    "descricaoHistorico": {
                                                        "type": "string",
                                                        "description": "Descrição do Histórico.",
                                                        "example": "TARIFA - TAR. MANUTENÇÃO DE TÍTULO VENCIDO - R$ 0,75"
                                                    }
                                                }
                                            }
                                        },
                                        "situacaoBoleto": {
                                            "type": "string",
                                            "description": "Descreve a Situação atual do Boleto\n  - Em Aberto\n  - Baixado\n  - Liquidado",
                                            "example": "Em Aberto"
                                        },
                                        "rateioCreditos": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/RateioCredito"
                                            }
                                        },
                                        "qrCode": {
                                            "type": "string",
                                            "description": "QRCode para pagamento com PIX",
                                            "example": "00020101021226950014br.gov.bcb.pix2573pix.sicoob.com.br/qr/payload/v2/cobv/e736df1b-1389-4b96-a070-c8dddac768de5204000053039865802BR5924JULIO PEREIRA DE OLIVEIRA6008Brasilia62070503***630435A3"
                                        },
                                        "numeroContratoCobranca": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Indicar o id do contatroCobranca",
                                            "example": 1
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "A requisição foi processada com êxito e não está retornando conteúdo."
                    },
                    "400": {
                        "description": "Possíveis erros de negócio.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    },
                    "406": {
                        "description": "Possíveis erros de inconsistência nos dados passados.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    },
                    "500": {
                        "description": "Erro interno.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    }
                }
            }
        },
        "/pagadores/{numeroCpfCnpj}/boletos": {
            "get": {
                "tags": [
                    "Boleto"
                ],
                "summary": "Listar Boletos por Pagador",
                "x-sicoob-category": "NÃO FINANCEIRA",
                "description": "Serviço para listagem de boletos por Pagador.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "numeroCpfCnpj",
                        "type": "string",
                        "required": true,
                        "description": "CPF ou CNPJ do pagador. `Tamanho máximo 14`"
                    },
                    {
                        "in": "query",
                        "name": "numeroCliente",
                        "type": "integer",
                        "required": true,
                        "description": "Número que identifica o contrato do beneficiário no Sisbr."
                    },
                    {
                        "in": "query",
                        "name": "codigoSituacao",
                        "type": "integer",
                        "description": "Código da Situação do Boleto.\n  - 1 Entrada Normal\n  - 2 Baixado\n  - 3 Liquidado"
                    },
                    {
                        "in": "query",
                        "name": "dataInicio",
                        "type": "string",
                        "format": "date",
                        "description": "Data de Vencimento Inicial.\nFormato: yyyy-MM-dd\n"
                    },
                    {
                        "in": "query",
                        "name": "dataFim",
                        "type": "string",
                        "format": "date",
                        "description": "Data de Vencimento Final.\nFormato: yyyy-MM-dd\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "resultado": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "numeroCliente",
                                            "codigoModalidade",
                                            "situacaoBoleto",
                                            "codigoEspecieDocumento",
                                            "dataEmissao",
                                            "nossoNumero",
                                            "seuNumero",
                                            "codigoBarras",
                                            "linhaDigitavel",
                                            "valor",
                                            "dataVencimento",
                                            "numeroParcela",
                                            "aceite",
                                            "codigoProtesto",
                                            "quantidadeDiasFloat",
                                            "valorAbatimento",
                                            "tipoMulta",
                                            "valorMulta",
                                            "tipoJurosMora",
                                            "valorJurosMora"
                                        ],
                                        "properties": {
                                            "numeroCliente": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Número que identifica o contrato do beneficiário.",
                                                "example": 25546454
                                            },
                                            "codigoModalidade": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Número que identifica a modalidade do boleto.\n- 1 - SIMPLES COM REGISTRO\n- 3 - CAUCIONADA\n- 4 - VINCULADA\n- 5 - CARNÊ DE PAGAMENTOS\n- 8 - COBRANÇA CONTA CAPITAL",
                                                "example": 1
                                            },
                                            "numeroContaCorrente": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Número da Conta Corrente para crédito do boleto."
                                            },
                                            "codigoEspecieDocumento": {
                                                "type": "string",
                                                "description": "Espécie do documento\n  - CH - Cheque\n  - DM - Duplicata Mercantil\n  - DMI - Duplicata Mercantil Indicação\n  - DS - Duplicata de Serviço\n  - DSI - Duplicata Serviço Indicação\n  - DR - Duplicata Rural\n  - LC - Letra de Câmbio\n  - NCC - Nota de Crédito Comercial\n  - NCE - Nota de Crédito Exportação\n  - NCI - Nota de Crédito Industrial\n  - NCR - Nota de Crédito Rural\n  - NP - Nota Promissória\n  - NPR - Nota Promissória Rural\n  - TM - Triplicata Mercantil\n  - TS - Triplicata de Serviço\n  - NS - Nota de Seguro\n  - RC - Recibo\n  - FAT - Fatura\n  - ND - Nota de Débito\n  - AP - Apólice de Seguro\n  - ME - Mensalidade Escolar\n  - PC - Pagamento de Consórcio\n  - NF - Nota Fiscal\n  - DD - Documento de Dívida\n  - CC - Cartão de Crédito\n  - BDP - Boleto Proposta\n  - OU - Outros",
                                                "example": "DM"
                                            },
                                            "dataEmissao": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Data de emissão do boleto\nFormato: yyyy-MM-dd\n",
                                                "example": "2018-09-20"
                                            },
                                            "nossoNumero": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Número que identifica o boleto."
                                            },
                                            "seuNumero": {
                                                "type": "string",
                                                "description": "Informar o número que identifica o boleto no sistema do beneficiário. `Tamanho máximo 18`",
                                                "example": "1235512"
                                            },
                                            "identificacaoBoletoEmpresa": {
                                                "type": "string",
                                                "description": "Destinado para uso da Empresa Cedente para identificação do Boleto",
                                                "example": "4562"
                                            },
                                            "codigoBarras": {
                                                "type": "string",
                                                "description": "Número de código de barras do boleto com 44 posições.",
                                                "example": "07092501614004706610157633070651479470000006500"
                                            },
                                            "linhaDigitavel": {
                                                "type": "string",
                                                "description": "Número da linha digitável do boleto com 47 posições.",
                                                "example": "42297115040000195441184217468127172300000023124"
                                            },
                                            "valor": {
                                                "type": "number",
                                                "format": "double",
                                                "description": "Valor nominal do boleto.",
                                                "example": 156.23
                                            },
                                            "dataVencimento": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Data de vencimento do boleto.\nFormato: yyyy-MM-dd\n",
                                                "example": "2018-09-20"
                                            },
                                            "valorAbatimento": {
                                                "type": "number",
                                                "format": "double",
                                                "description": "Valor do abatimento.",
                                                "example": 1
                                            },
                                            "dataPrimeiroDesconto": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Data do primeiro desconto.\nFormato: yyyy-MM-dd\n",
                                                "example": "2018-09-20"
                                            },
                                            "valorPrimeiroDesconto": {
                                                "type": "number",
                                                "format": "double",
                                                "description": "Valor do primeiro desconto",
                                                "example": 1
                                            },
                                            "dataSegundoDesconto": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Data do segundo desconto\nFormato: yyyy-MM-dd\n",
                                                "example": "2018-09-20"
                                            },
                                            "valorSegundoDesconto": {
                                                "type": "number",
                                                "format": "double",
                                                "description": "Valor do segundo desconto",
                                                "example": 0
                                            },
                                            "dataTerceiroDesconto": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Data do terceiro desconto\nFormato: yyyy-MM-dd\n",
                                                "example": "2018-09-20"
                                            },
                                            "valorTerceiroDesconto": {
                                                "type": "number",
                                                "format": "double",
                                                "description": "Valor do terceiro desconto",
                                                "example": 0
                                            },
                                            "tipoMulta": {
                                                "type": "integer",
                                                "description": "Tipo de Multa\n  - 0 Isento\n  - 1 Valor Fixo\n  - 2 Percentual",
                                                "example": 1
                                            },
                                            "dataMulta": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Deve ser maior que a data de vencimento do boleto e menor ou igual que data limite de pagamento.\n\nFormato: yyyy-MM-dd\n",
                                                "example": "2018-09-20"
                                            },
                                            "valorMulta": {
                                                "type": "number",
                                                "format": "double",
                                                "description": "Valor da multa.",
                                                "example": 5
                                            },
                                            "tipoJurosMora": {
                                                "type": "integer",
                                                "description": "Tipo de Juros de Mora\n- 1 Valor por dia\n- 2 Taxa Mensal\n- 3 Isento",
                                                "example": 1
                                            },
                                            "dataJurosMora": {
                                                "type": "string",
                                                "format": "date",
                                                "description": "Deve ser maior que a data de vencimento do boleto e menor ou igual que data limite de pagamento.\n\nFormato: yyyy-MM-dd\n",
                                                "example": "2018-09-20"
                                            },
                                            "valorJurosMora": {
                                                "type": "number",
                                                "format": "double",
                                                "description": "Valor do Juros de Mora.",
                                                "example": 4
                                            },
                                            "numeroParcela": {
                                                "type": "integer",
                                                "format": "int64",
                                                "description": "Número da parcela.",
                                                "example": 1
                                            },
                                            "aceite": {
                                                "type": "boolean",
                                                "description": "Identificador do aceite do boleto.",
                                                "example": true
                                            },
                                            "codigoNegativacao": {
                                                "type": "integer",
                                                "description": "Código de Negativação do Boleto\n  - 2 Negativar Dias Úteis\n  - 3 Não Negativar",
                                                "example": 2
                                            },
                                            "codigoProtesto": {
                                                "type": "integer",
                                                "description": "Código de Protesto do Boleto\n  - 1 Protestar Dias Corridos\n  - 2 Protestar Dias Úteis\n  - 3 Não Protestar",
                                                "example": 1
                                            },
                                            "quantidadeDiasFloat": {
                                                "type": "integer",
                                                "description": "Quantidade de Dias de Float.",
                                                "example": 2
                                            },
                                            "pagador": {
                                                "type": "object",
                                                "properties": {
                                                    "numeroCpfCnpj": {
                                                        "type": "string",
                                                        "description": "CPF ou CNPJ do pagador. `Tamanho máximo 14`",
                                                        "example": "98765432185"
                                                    },
                                                    "nome": {
                                                        "type": "string",
                                                        "description": "Nome completo do pagador. `Tamanho máximo 50`",
                                                        "example": "Marcelo dos Santos"
                                                    }
                                                }
                                            },
                                            "beneficiarioFinal": {
                                                "type": "object",
                                                "properties": {
                                                    "nome": {
                                                        "type": "string",
                                                        "description": "Nome do Beneficário Final. Antigo Sacador Avalista. `Tamanho máximo 50`",
                                                        "example": "Lucas de Lima"
                                                    }
                                                }
                                            },
                                            "mensagensInstrucao": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "description": "Lista de mensagens de instrução."
                                                },
                                                "example": [
                                                    "Descrição da Instrução 1",
                                                    "Descrição da Instrução 2",
                                                    "Descrição da Instrução 3",
                                                    "Descrição da Instrução 4",
                                                    "Descrição da Instrução 5"
                                                ]
                                            },
                                            "situacaoBoleto": {
                                                "type": "string",
                                                "description": "Descreve a Situação atual do Boleto",
                                                "example": "Liquidado"
                                            },
                                            "qrCode": {
                                                "type": "string",
                                                "description": "QRCode para pagamento com PIX",
                                                "example": "00020101021226950014br.gov.bcb.pix2573pix.sicoob.com.br/qr/payload/v2/cobv/e736df1b-1389-4b96-a070-c8dddac768de5204000053039865802BR5924JULIO PEREIRA DE OLIVEIRA6008Brasilia62070503***630435A3"
                                            },
                                            "numeroContratoCobranca": {
                                                "type": "integer",
                                                "format": "int64",
                                                "description": "Indicar o id do contatroCobranca",
                                                "example": 1
                                            },
                                            "tipoDesconto": {
                                                "type": "integer",
                                                "format": "int64",
                                                "description": "Informar o tipo de desconto a ser aplicado no boleto.\n- 0 Sem Desconto\n- 1 Valor Fixo Até a Data Informada\n- 2 Percentual até a data informada\n- 3 Valor por antecipação dia corrido\n- 4 Valor por antecipação dia útil\n- 5 Percentual por antecipação dia corrido\n- 6 Percentual por antecipação dia útil"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "A requisição foi processada com êxito e não está retornando conteúdo."
                    },
                    "400": {
                        "description": "Possíveis erros de negócio.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    },
                    "406": {
                        "description": "Possíveis erros de inconsistência nos dados passados.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    },
                    "500": {
                        "description": "Erro interno.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    }
                }
            }
        },
        "/boletos/segunda-via": {
            "get": {
                "tags": [
                    "Boleto"
                ],
                "summary": "Emitir segunda via de um boleto",
                "x-sicoob-category": "NÃO FINANCEIRA",
                "description": "Serviço para emissão da segunda via de boleto já registrado. Utiliza as informações do beneficiário logado (número da cooperativa, número identificador do beneficiário e conta corrente), juntamente com a informação do identificador do boleto (nosso número), ou da linha digitável ou do código de barras. Quando informados código de barras ou linha digitável, a pesquisa é realiazada prioritariamente por estes parâmetros.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "numeroCliente",
                        "type": "integer",
                        "required": true,
                        "description": "Número que identifica o contrato do beneficiário no Sisbr."
                    },
                    {
                        "in": "query",
                        "name": "codigoModalidade",
                        "type": "integer",
                        "required": true,
                        "description": "Identifica a modalidade do boleto.\n- 1 - SIMPLES COM REGISTRO\n- 3 - CAUCIONADA\n- 4 - VINCULADA\n- 5 - CARNÊ DE PAGAMENTOS \n- 8 - COBRANÇA CONTA CAPITAL"
                    },
                    {
                        "in": "query",
                        "name": "nossoNumero",
                        "type": "integer",
                        "description": "Número identificador do boleto no Sisbr.Caso seja informado, não é necessário informar a linha digitável ou código de barras."
                    },
                    {
                        "in": "query",
                        "name": "linhaDigitavel",
                        "type": "string",
                        "description": "Número da linha digitável do boleto com 47 posições.Caso seja informado, não é necessário informar o nosso número ou código de barras."
                    },
                    {
                        "in": "query",
                        "name": "codigoBarras",
                        "type": "string",
                        "description": "Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou a linha digitável."
                    },
                    {
                        "in": "query",
                        "name": "gerarPdf",
                        "type": "boolean",
                        "description": "Identificador para o sistema devolver ou não o PDF do Boleto. O PDF será retornado na Base64."
                    },
                    {
                        "in": "query",
                        "name": "numeroContratoCobranca",
                        "type": "integer",
                        "format": "int64",
                        "required": false,
                        "description": "Indicar o id do contatro de cobrança"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "resultado": {
                                    "type": "object",
                                    "required": [
                                        "codigoModalidade",
                                        "codigoEspecieDocumento",
                                        "dataEmissao",
                                        "nossoNumero",
                                        "seuNumero",
                                        "codigoBarras",
                                        "linhaDigitavel",
                                        "valor",
                                        "numeroParcela",
                                        "aceite",
                                        "tipoDesconto",
                                        "dataVencimento",
                                        "valorAbatimento",
                                        "tipoMulta",
                                        "tipoJurosMora",
                                        "numeroCliente",
                                        "pagador"
                                    ],
                                    "properties": {
                                        "numeroCliente": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número que identifica o contrato do beneficiário.",
                                            "example": 25546454
                                        },
                                        "codigoModalidade": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número que identifica a modalidade do boleto.\n- 1 - SIMPLES COM REGISTRO\n- 3 - CAUCIONADA\n- 4 - VINCULADA\n- 5 - CARNÊ DE PAGAMENTOS \n- 8 - COBRANÇA CONTA CAPITAL",
                                            "example": 1
                                        },
                                        "codigoEspecieDocumento": {
                                            "type": "string",
                                            "description": "Espécie do documento\n  - CH - Cheque\n  - DM - Duplicata Mercantil\n  - DMI - Duplicata Mercantil Indicação\n  - DS - Duplicata de Serviço\n  - DSI - Duplicata Serviço Indicação\n  - DR - Duplicata Rural\n  - LC - Letra de Câmbio\n  - NCC - Nota de Crédito Comercial\n  - NCE - Nota de Crédito Exportação\n  - NCI - Nota de Crédito Industrial\n  - NCR - Nota de Crédito Rural\n  - NP - Nota Promissória\n  - NPR - Nota Promissória Rural\n  - TM - Triplicata Mercantil\n  - TS - Triplicata de Serviço\n  - NS - Nota de Seguro\n  - RC - Recibo\n  - FAT - Fatura\n  - ND - Nota de Débito\n  - AP - Apólice de Seguro\n  - ME - Mensalidade Escolar\n  - PC - Pagamento de Consórcio\n  - NF - Nota Fiscal\n  - DD - Documento de Dívida\n  - CC - Cartão de Crédito\n  - BDP - Boleto Proposta\n  - OU - Outros",
                                            "example": "DM"
                                        },
                                        "dataEmissao": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data de emissão do boleto.\nFormato: yyyy-MM-dd\n",
                                            "example": "2018-09-20"
                                        },
                                        "nossoNumero": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Número que identifica o boleto no Sisbr."
                                        },
                                        "seuNumero": {
                                            "type": "string",
                                            "description": "Informar o número que identifica o boleto no sistema do beneficiário.",
                                            "example": "1235512"
                                        },
                                        "codigoBarras": {
                                            "type": "string",
                                            "description": "Número de código de barras do boleto com 44 posições.",
                                            "example": "01234567890123456789012345678901234567890123"
                                        },
                                        "linhaDigitavel": {
                                            "type": "string",
                                            "description": "Número da linha digitável do boleto com 47 posições.",
                                            "example": "012345678901234567890123456789012345678901234567"
                                        },
                                        "valor": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor nominal do boleto.",
                                            "example": 156.23
                                        },
                                        "dataVencimento": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Data de vencimento do boleto.\nFormato: yyyy-MM-dd\n",
                                            "example": "2018-09-20"
                                        },
                                        "valorAbatimento": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do abatimento.",
                                            "example": 1
                                        },
                                        "numeroParcela": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Número da parcela do boleto.",
                                            "example": 1
                                        },
                                        "aceite": {
                                            "type": "boolean",
                                            "description": "Identificador do aceite do boleto.",
                                            "example": true
                                        },
                                        "tipoMulta": {
                                            "type": "integer",
                                            "description": "Tipo de Multa.\n  - 0 Isento\n  - 1 Valor Fixo\n  - 2 Percentual",
                                            "example": 1
                                        },
                                        "valorMulta": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor da multa.",
                                            "example": 5.01
                                        },
                                        "tipoJurosMora": {
                                            "type": "integer",
                                            "description": "Tipo de Juros de Mora\n- 1 Valor por dia\n- 2 Taxa Mensal\n- 3 Isento",
                                            "example": 1
                                        },
                                        "valorJurosMora": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Valor do Juros de Mora.",
                                            "example": 4
                                        },
                                        "pagador": {
                                            "type": "object",
                                            "required": [
                                                "nome",
                                                "numeroCpfCnpj",
                                                "endereco",
                                                "bairro",
                                                "cidade",
                                                "uf",
                                                "cep"
                                            ],
                                            "properties": {
                                                "numeroCpfCnpj": {
                                                    "type": "string",
                                                    "description": "CPF ou CNPJ do pagador. `Tamanho máximo 14`",
                                                    "example": "98765432185"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "description": "Nome completo do pagador. `Tamanho máximo 50`",
                                                    "example": "Marcelo dos Santos"
                                                },
                                                "endereco": {
                                                    "type": "string",
                                                    "description": "Endereço do pagador.",
                                                    "example": "Rua 87 Quadra 1 Lote 1 casa 1"
                                                },
                                                "bairro": {
                                                    "type": "string",
                                                    "description": "Bairro do pagador.",
                                                    "example": "Santa Rosa"
                                                },
                                                "cidade": {
                                                    "type": "string",
                                                    "description": "Cidade do pagador.",
                                                    "example": "Luziânia"
                                                },
                                                "cep": {
                                                    "type": "string",
                                                    "description": "CEP do pagador.",
                                                    "example": "72320000"
                                                },
                                                "uf": {
                                                    "type": "string",
                                                    "description": "UF do pagador.",
                                                    "example": "DF"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "description": "E-mail do Pagador.",
                                                    "example": "pagador@dominio.com.br"
                                                }
                                            }
                                        },
                                        "beneficiarioFinal": {
                                            "type": "object",
                                            "properties": {
                                                "numeroCpfCnpj": {
                                                    "type": "string",
                                                    "description": "CPF ou CNPJ do Beneficário Final. Antigo Sacador Avalista. `Tamanho máximo 14`",
                                                    "example": "98784978699"
                                                },
                                                "nome": {
                                                    "type": "string",
                                                    "description": "Nome do Beneficário Final. Antigo Sacador Avalista. `Tamanho máximo 50`",
                                                    "example": "Lucas de Lima"
                                                }
                                            }
                                        },
                                        "mensagensInstrucao": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "description": "Lista de mensagens de instrução."
                                            },
                                            "example": [
                                                "Descrição da Instrução 1",
                                                "Descrição da Instrução 2",
                                                "Descrição da Instrução 3",
                                                "Descrição da Instrução 4",
                                                "Descrição da Instrução 5"
                                            ]
                                        },
                                        "pdfBoleto": {
                                            "type": "string",
                                            "description": "String na Base64 do PDF do Boleto.",
                                            "example": "JVBERi0xLjQKJeLjz9MKMyAwIG9iago8PC9UeXBlL1hPYmplY3QvU3VidHlwZS9JbWFnZS9XaWR0aCA1Nzgv+PgolaVRleHQtNS41LjExCnN0YXJ0eHJlZgoyNzAxOQolJUVPRgo="
                                        },
                                        "qrCode": {
                                            "type": "string",
                                            "description": "QRCode para pagamento com PIX",
                                            "example": "00020101021226950014br.gov.bcb.pix2573pix.sicoob.com.br/qr/payload/v2/cobv/e736df1b-1389-4b96-a070-c8dddac768de5204000053039865802BR5924JULIO PEREIRA DE OLIVEIRA6008Brasilia62070503***630435A3"
                                        },
                                        "numeroContratoCobranca": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Indicar o id do contatroCobranca",
                                            "example": 1
                                        },
                                        "tipoDesconto": {
                                            "type": "integer",
                                            "format": "int64",
                                            "description": "Informar o tipo de desconto a ser aplicado no boleto.\n- 0 Sem Desconto\n- 1 Valor Fixo Até a Data Informada\n- 2 Percentual até a data informada\n- 3 Valor por antecipação dia corrido\n- 4 Valor por antecipação dia útil\n- 5 Percentual por antecipação dia corrido\n- 6 Percentual por antecipação dia útil"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "A requisição foi processada com êxito e não está retornando conteúdo."
                    },
                    "400": {
                        "description": "Possíveis erros de negócio.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    },
                    "406": {
                        "description": "Possíveis erros de inconsistência nos dados passados.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    },
                    "500": {
                        "description": "Erro interno.",
                        "schema": {
                            "$ref": "#/definitions/MensagensErro"
                        }
                    }
                }
            }
        },
        "/boletos/faixas-nosso-numero": {
            "get": {
                "tags": [
                    "Boleto"
                ],
                "summary": "Consulta de dados de faixas de nosso número disponíveis.",
                "x-sicoob-category": "NÃO FINANCEIRA",
[...]
