/*
 * Cobrança Bancária
 * <pre>[ Base URL: https://api.sicoob.com.br/cobranca-bancaria/v3 ]</pre> A Cobrança Bancária Sicoob é um conjunto de serviços oferecidos a seus associados para recebimento de valores referentes às vendas de produtos e serviços da sua empresa, por meio de boletos de cobrança, pagos em toda a rede bancária. Esta API disponibiliza funcionalidades que auxiliam na gestão da carteira registrada, tornando viável todo o processo de acompanhamento, desde a inclusão de novos boletos, alteração de informações relevantes, protesto/negativação de títulos vencidos e não pagos, até a liquidação ou baixa do título.
 *
 * The version of the OpenAPI document: 3.0.8.0
 * Contact: GrupoGesin1CobrancaBancaria@sicoob.com.br
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package br.com.fidias.sicoob_cobranca.api;

import br.com.fidias.sicoob_cobranca.ApiCallback;
import br.com.fidias.sicoob_cobranca.ApiClient;
import br.com.fidias.sicoob_cobranca.ApiException;
import br.com.fidias.sicoob_cobranca.ApiResponse;
import br.com.fidias.sicoob_cobranca.Configuration;
import br.com.fidias.sicoob_cobranca.Pair;
import br.com.fidias.sicoob_cobranca.ProgressRequestBody;
import br.com.fidias.sicoob_cobranca.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import br.com.fidias.sicoob_cobranca.model.Boleto;
import br.com.fidias.sicoob_cobranca.model.BoletoAlteracao;
import br.com.fidias.sicoob_cobranca.model.BoletoBaixa;
import br.com.fidias.sicoob_cobranca.model.InlineResponse200;
import br.com.fidias.sicoob_cobranca.model.InlineResponse2001;
import br.com.fidias.sicoob_cobranca.model.InlineResponse2002;
import br.com.fidias.sicoob_cobranca.model.InlineResponse2003;
import br.com.fidias.sicoob_cobranca.model.InlineResponse2004;
import java.time.LocalDate;
import br.com.fidias.sicoob_cobranca.model.MensagensErro;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class BoletoApi {
    private ApiClient localVarApiClient;

    public BoletoApi() {
        this(Configuration.getDefaultApiClient());
    }

    public BoletoApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for boletosFaixasNossoNumeroGet
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param quantidade Quantidade mínima de nosso números que devem estar disponíveis na faixa a ser pesquisada. (required)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosFaixasNossoNumeroGetCall(Integer numeroCliente, Integer codigoModalidade, Integer quantidade, Long numeroContratoCobranca, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/boletos/faixas-nosso-numero";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (numeroCliente != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("numeroCliente", numeroCliente));
        }

        if (codigoModalidade != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codigoModalidade", codigoModalidade));
        }

        if (quantidade != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("quantidade", quantidade));
        }

        if (numeroContratoCobranca != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("numeroContratoCobranca", numeroContratoCobranca));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosFaixasNossoNumeroGetValidateBeforeCall(Integer numeroCliente, Integer codigoModalidade, Integer quantidade, Long numeroContratoCobranca, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'numeroCliente' is set
        if (numeroCliente == null) {
            throw new ApiException("Missing the required parameter 'numeroCliente' when calling boletosFaixasNossoNumeroGet(Async)");
        }
        
        // verify the required parameter 'codigoModalidade' is set
        if (codigoModalidade == null) {
            throw new ApiException("Missing the required parameter 'codigoModalidade' when calling boletosFaixasNossoNumeroGet(Async)");
        }
        
        // verify the required parameter 'quantidade' is set
        if (quantidade == null) {
            throw new ApiException("Missing the required parameter 'quantidade' when calling boletosFaixasNossoNumeroGet(Async)");
        }
        

        okhttp3.Call localVarCall = boletosFaixasNossoNumeroGetCall(numeroCliente, codigoModalidade, quantidade, numeroContratoCobranca, _callback);
        return localVarCall;

    }

    /**
     * Consulta de dados de faixas de nosso número disponíveis.
     * Serviço para consulta de dados de faixas de nosso número disponíveis.  Quando o campo validaDigitoVerificadorNossoNumero retornar o valor \&quot;0\&quot; a faixa \&quot;numeroInicial\&quot; e \&quot;numeroFinal\&quot; refere-se a numeração final (exemplo: 10 e 15 - utilização: 1-0 1-1 1-2 1-3 1-4 1-5). Mas se o campo validaDigitoVerificadorNossoNumero retornar o valor \&quot;1\&quot; a faixa \&quot;numeroInicial\&quot; e \&quot;numeroFinal\&quot; deverá ser calculado o DV (exemplo: 10 e 15 - utilização: 10-4 11-8 12-0 13-1 14-7 15-9).
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param quantidade Quantidade mínima de nosso números que devem estar disponíveis na faixa a ser pesquisada. (required)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @return InlineResponse2004
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2004 boletosFaixasNossoNumeroGet(Integer numeroCliente, Integer codigoModalidade, Integer quantidade, Long numeroContratoCobranca) throws ApiException {
        ApiResponse<InlineResponse2004> localVarResp = boletosFaixasNossoNumeroGetWithHttpInfo(numeroCliente, codigoModalidade, quantidade, numeroContratoCobranca);
        return localVarResp.getData();
    }

    /**
     * Consulta de dados de faixas de nosso número disponíveis.
     * Serviço para consulta de dados de faixas de nosso número disponíveis.  Quando o campo validaDigitoVerificadorNossoNumero retornar o valor \&quot;0\&quot; a faixa \&quot;numeroInicial\&quot; e \&quot;numeroFinal\&quot; refere-se a numeração final (exemplo: 10 e 15 - utilização: 1-0 1-1 1-2 1-3 1-4 1-5). Mas se o campo validaDigitoVerificadorNossoNumero retornar o valor \&quot;1\&quot; a faixa \&quot;numeroInicial\&quot; e \&quot;numeroFinal\&quot; deverá ser calculado o DV (exemplo: 10 e 15 - utilização: 10-4 11-8 12-0 13-1 14-7 15-9).
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param quantidade Quantidade mínima de nosso números que devem estar disponíveis na faixa a ser pesquisada. (required)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @return ApiResponse&lt;InlineResponse2004&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2004> boletosFaixasNossoNumeroGetWithHttpInfo(Integer numeroCliente, Integer codigoModalidade, Integer quantidade, Long numeroContratoCobranca) throws ApiException {
        okhttp3.Call localVarCall = boletosFaixasNossoNumeroGetValidateBeforeCall(numeroCliente, codigoModalidade, quantidade, numeroContratoCobranca, null);
        Type localVarReturnType = new TypeToken<InlineResponse2004>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Consulta de dados de faixas de nosso número disponíveis. (asynchronously)
     * Serviço para consulta de dados de faixas de nosso número disponíveis.  Quando o campo validaDigitoVerificadorNossoNumero retornar o valor \&quot;0\&quot; a faixa \&quot;numeroInicial\&quot; e \&quot;numeroFinal\&quot; refere-se a numeração final (exemplo: 10 e 15 - utilização: 1-0 1-1 1-2 1-3 1-4 1-5). Mas se o campo validaDigitoVerificadorNossoNumero retornar o valor \&quot;1\&quot; a faixa \&quot;numeroInicial\&quot; e \&quot;numeroFinal\&quot; deverá ser calculado o DV (exemplo: 10 e 15 - utilização: 10-4 11-8 12-0 13-1 14-7 15-9).
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param quantidade Quantidade mínima de nosso números que devem estar disponíveis na faixa a ser pesquisada. (required)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosFaixasNossoNumeroGetAsync(Integer numeroCliente, Integer codigoModalidade, Integer quantidade, Long numeroContratoCobranca, final ApiCallback<InlineResponse2004> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosFaixasNossoNumeroGetValidateBeforeCall(numeroCliente, codigoModalidade, quantidade, numeroContratoCobranca, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2004>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosGet
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 5 - CARNÊ DE PAGAMENTOS  - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param nossoNumero Número identificador do boleto no Sisbr. Caso seja infomado, não é necessário infomar a linha digitável ou código de barras. (optional)
     * @param linhaDigitavel Número da linha digitável do boleto com 47 posições. Caso seja informado, não é necessário informar o nosso número ou código de barras. (optional)
     * @param codigoBarras Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou linha digitável. (optional)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosGetCall(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Integer numeroContratoCobranca, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/boletos";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (numeroCliente != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("numeroCliente", numeroCliente));
        }

        if (codigoModalidade != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codigoModalidade", codigoModalidade));
        }

        if (nossoNumero != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("nossoNumero", nossoNumero));
        }

        if (linhaDigitavel != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("linhaDigitavel", linhaDigitavel));
        }

        if (codigoBarras != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codigoBarras", codigoBarras));
        }

        if (numeroContratoCobranca != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("numeroContratoCobranca", numeroContratoCobranca));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosGetValidateBeforeCall(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Integer numeroContratoCobranca, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'numeroCliente' is set
        if (numeroCliente == null) {
            throw new ApiException("Missing the required parameter 'numeroCliente' when calling boletosGet(Async)");
        }
        
        // verify the required parameter 'codigoModalidade' is set
        if (codigoModalidade == null) {
            throw new ApiException("Missing the required parameter 'codigoModalidade' when calling boletosGet(Async)");
        }
        

        okhttp3.Call localVarCall = boletosGetCall(numeroCliente, codigoModalidade, nossoNumero, linhaDigitavel, codigoBarras, numeroContratoCobranca, _callback);
        return localVarCall;

    }

    /**
     * Consultar boleto
     * Serviço para consulta de um boleto bancário. Utiliza as informações do beneficiário logado (número da cooperativa, número identificador do beneficiário e conta corrente), juntamente com a informação do identificador do boleto (nosso número), ou da linha digitável ou do código de barras.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 5 - CARNÊ DE PAGAMENTOS  - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param nossoNumero Número identificador do boleto no Sisbr. Caso seja infomado, não é necessário infomar a linha digitável ou código de barras. (optional)
     * @param linhaDigitavel Número da linha digitável do boleto com 47 posições. Caso seja informado, não é necessário informar o nosso número ou código de barras. (optional)
     * @param codigoBarras Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou linha digitável. (optional)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @return InlineResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse200 boletosGet(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Integer numeroContratoCobranca) throws ApiException {
        ApiResponse<InlineResponse200> localVarResp = boletosGetWithHttpInfo(numeroCliente, codigoModalidade, nossoNumero, linhaDigitavel, codigoBarras, numeroContratoCobranca);
        return localVarResp.getData();
    }

    /**
     * Consultar boleto
     * Serviço para consulta de um boleto bancário. Utiliza as informações do beneficiário logado (número da cooperativa, número identificador do beneficiário e conta corrente), juntamente com a informação do identificador do boleto (nosso número), ou da linha digitável ou do código de barras.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 5 - CARNÊ DE PAGAMENTOS  - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param nossoNumero Número identificador do boleto no Sisbr. Caso seja infomado, não é necessário infomar a linha digitável ou código de barras. (optional)
     * @param linhaDigitavel Número da linha digitável do boleto com 47 posições. Caso seja informado, não é necessário informar o nosso número ou código de barras. (optional)
     * @param codigoBarras Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou linha digitável. (optional)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @return ApiResponse&lt;InlineResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse200> boletosGetWithHttpInfo(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Integer numeroContratoCobranca) throws ApiException {
        okhttp3.Call localVarCall = boletosGetValidateBeforeCall(numeroCliente, codigoModalidade, nossoNumero, linhaDigitavel, codigoBarras, numeroContratoCobranca, null);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Consultar boleto (asynchronously)
     * Serviço para consulta de um boleto bancário. Utiliza as informações do beneficiário logado (número da cooperativa, número identificador do beneficiário e conta corrente), juntamente com a informação do identificador do boleto (nosso número), ou da linha digitável ou do código de barras.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 5 - CARNÊ DE PAGAMENTOS  - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param nossoNumero Número identificador do boleto no Sisbr. Caso seja infomado, não é necessário infomar a linha digitável ou código de barras. (optional)
     * @param linhaDigitavel Número da linha digitável do boleto com 47 posições. Caso seja informado, não é necessário informar o nosso número ou código de barras. (optional)
     * @param codigoBarras Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou linha digitável. (optional)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosGetAsync(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Integer numeroContratoCobranca, final ApiCallback<InlineResponse200> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosGetValidateBeforeCall(numeroCliente, codigoModalidade, nossoNumero, linhaDigitavel, codigoBarras, numeroContratoCobranca, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosNossoNumeroBaixarPost
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroBaixarPostCall(Integer nossoNumero, BoletoBaixa boleto, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = boleto;

        // create path and map variables
        String localVarPath = "/boletos/{nossoNumero}/baixar"
            .replaceAll("\\{" + "nossoNumero" + "\\}", localVarApiClient.escapeString(nossoNumero.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosNossoNumeroBaixarPostValidateBeforeCall(Integer nossoNumero, BoletoBaixa boleto, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'nossoNumero' is set
        if (nossoNumero == null) {
            throw new ApiException("Missing the required parameter 'nossoNumero' when calling boletosNossoNumeroBaixarPost(Async)");
        }
        
        // verify the required parameter 'boleto' is set
        if (boleto == null) {
            throw new ApiException("Missing the required parameter 'boleto' when calling boletosNossoNumeroBaixarPost(Async)");
        }
        

        okhttp3.Call localVarCall = boletosNossoNumeroBaixarPostCall(nossoNumero, boleto, _callback);
        return localVarCall;

    }

    /**
     * Comandar a baixa de boletos
     * Serviço para comandar a baixa de boletos informados.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public void boletosNossoNumeroBaixarPost(Integer nossoNumero, BoletoBaixa boleto) throws ApiException {
        boletosNossoNumeroBaixarPostWithHttpInfo(nossoNumero, boleto);
    }

    /**
     * Comandar a baixa de boletos
     * Serviço para comandar a baixa de boletos informados.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> boletosNossoNumeroBaixarPostWithHttpInfo(Integer nossoNumero, BoletoBaixa boleto) throws ApiException {
        okhttp3.Call localVarCall = boletosNossoNumeroBaixarPostValidateBeforeCall(nossoNumero, boleto, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Comandar a baixa de boletos (asynchronously)
     * Serviço para comandar a baixa de boletos informados.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroBaixarPostAsync(Integer nossoNumero, BoletoBaixa boleto, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosNossoNumeroBaixarPostValidateBeforeCall(nossoNumero, boleto, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosNossoNumeroPatch
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Alteração realizada com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroPatchCall(Integer nossoNumero, BoletoAlteracao boleto, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = boleto;

        // create path and map variables
        String localVarPath = "/boletos/{nossoNumero}"
            .replaceAll("\\{" + "nossoNumero" + "\\}", localVarApiClient.escapeString(nossoNumero.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosNossoNumeroPatchValidateBeforeCall(Integer nossoNumero, BoletoAlteracao boleto, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'nossoNumero' is set
        if (nossoNumero == null) {
            throw new ApiException("Missing the required parameter 'nossoNumero' when calling boletosNossoNumeroPatch(Async)");
        }
        
        // verify the required parameter 'boleto' is set
        if (boleto == null) {
            throw new ApiException("Missing the required parameter 'boleto' when calling boletosNossoNumeroPatch(Async)");
        }
        

        okhttp3.Call localVarCall = boletosNossoNumeroPatchCall(nossoNumero, boleto, _callback);
        return localVarCall;

    }

    /**
     * Alterar dados de um boleto
     * Serviço para alteração de dados de boleto já registrado.  Deve ser feita a alteração de somente um objeto do boleto por requisição. **Objetos de alteração do boleto:** - seuNumero - desconto - abatimento - multa - jurosMora - rateioCredito - pix - prorrogacaoVencimento - prorrogacaoLimitePagamento
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Alteração realizada com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public void boletosNossoNumeroPatch(Integer nossoNumero, BoletoAlteracao boleto) throws ApiException {
        boletosNossoNumeroPatchWithHttpInfo(nossoNumero, boleto);
    }

    /**
     * Alterar dados de um boleto
     * Serviço para alteração de dados de boleto já registrado.  Deve ser feita a alteração de somente um objeto do boleto por requisição. **Objetos de alteração do boleto:** - seuNumero - desconto - abatimento - multa - jurosMora - rateioCredito - pix - prorrogacaoVencimento - prorrogacaoLimitePagamento
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Alteração realizada com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> boletosNossoNumeroPatchWithHttpInfo(Integer nossoNumero, BoletoAlteracao boleto) throws ApiException {
        okhttp3.Call localVarCall = boletosNossoNumeroPatchValidateBeforeCall(nossoNumero, boleto, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Alterar dados de um boleto (asynchronously)
     * Serviço para alteração de dados de boleto já registrado.  Deve ser feita a alteração de somente um objeto do boleto por requisição. **Objetos de alteração do boleto:** - seuNumero - desconto - abatimento - multa - jurosMora - rateioCredito - pix - prorrogacaoVencimento - prorrogacaoLimitePagamento
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Alteração realizada com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroPatchAsync(Integer nossoNumero, BoletoAlteracao boleto, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosNossoNumeroPatchValidateBeforeCall(nossoNumero, boleto, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosPost
     * @param boleto Inclusão das informações detalhadas do boleto de cobrança. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosPostCall(Boleto boleto, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = boleto;

        // create path and map variables
        String localVarPath = "/boletos";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosPostValidateBeforeCall(Boleto boleto, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'boleto' is set
        if (boleto == null) {
            throw new ApiException("Missing the required parameter 'boleto' when calling boletosPost(Async)");
        }
        

        okhttp3.Call localVarCall = boletosPostCall(boleto, _callback);
        return localVarCall;

    }

    /**
     * Incluir boletos
     * Serviço para a inclusão de boletos. É possível a inclusão de 1 boleto por requisição.
     * @param boleto Inclusão das informações detalhadas do boleto de cobrança. (required)
     * @return InlineResponse2001
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2001 boletosPost(Boleto boleto) throws ApiException {
        ApiResponse<InlineResponse2001> localVarResp = boletosPostWithHttpInfo(boleto);
        return localVarResp.getData();
    }

    /**
     * Incluir boletos
     * Serviço para a inclusão de boletos. É possível a inclusão de 1 boleto por requisição.
     * @param boleto Inclusão das informações detalhadas do boleto de cobrança. (required)
     * @return ApiResponse&lt;InlineResponse2001&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2001> boletosPostWithHttpInfo(Boleto boleto) throws ApiException {
        okhttp3.Call localVarCall = boletosPostValidateBeforeCall(boleto, null);
        Type localVarReturnType = new TypeToken<InlineResponse2001>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Incluir boletos (asynchronously)
     * Serviço para a inclusão de boletos. É possível a inclusão de 1 boleto por requisição.
     * @param boleto Inclusão das informações detalhadas do boleto de cobrança. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosPostAsync(Boleto boleto, final ApiCallback<InlineResponse2001> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosPostValidateBeforeCall(boleto, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2001>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosSegundaViaGet
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 5 - CARNÊ DE PAGAMENTOS  - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param nossoNumero Número identificador do boleto no Sisbr.Caso seja informado, não é necessário informar a linha digitável ou código de barras. (optional)
     * @param linhaDigitavel Número da linha digitável do boleto com 47 posições.Caso seja informado, não é necessário informar o nosso número ou código de barras. (optional)
     * @param codigoBarras Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou a linha digitável. (optional)
     * @param gerarPdf Identificador para o sistema devolver ou não o PDF do Boleto. O PDF será retornado na Base64. (optional)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosSegundaViaGetCall(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Boolean gerarPdf, Long numeroContratoCobranca, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/boletos/segunda-via";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (numeroCliente != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("numeroCliente", numeroCliente));
        }

        if (codigoModalidade != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codigoModalidade", codigoModalidade));
        }

        if (nossoNumero != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("nossoNumero", nossoNumero));
        }

        if (linhaDigitavel != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("linhaDigitavel", linhaDigitavel));
        }

        if (codigoBarras != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codigoBarras", codigoBarras));
        }

        if (gerarPdf != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("gerarPdf", gerarPdf));
        }

        if (numeroContratoCobranca != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("numeroContratoCobranca", numeroContratoCobranca));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosSegundaViaGetValidateBeforeCall(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Boolean gerarPdf, Long numeroContratoCobranca, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'numeroCliente' is set
        if (numeroCliente == null) {
            throw new ApiException("Missing the required parameter 'numeroCliente' when calling boletosSegundaViaGet(Async)");
        }
        
        // verify the required parameter 'codigoModalidade' is set
        if (codigoModalidade == null) {
            throw new ApiException("Missing the required parameter 'codigoModalidade' when calling boletosSegundaViaGet(Async)");
        }
        

        okhttp3.Call localVarCall = boletosSegundaViaGetCall(numeroCliente, codigoModalidade, nossoNumero, linhaDigitavel, codigoBarras, gerarPdf, numeroContratoCobranca, _callback);
        return localVarCall;

    }

    /**
     * Emitir segunda via de um boleto
     * Serviço para emissão da segunda via de boleto já registrado. Utiliza as informações do beneficiário logado (número da cooperativa, número identificador do beneficiário e conta corrente), juntamente com a informação do identificador do boleto (nosso número), ou da linha digitável ou do código de barras. Quando informados código de barras ou linha digitável, a pesquisa é realiazada prioritariamente por estes parâmetros.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 5 - CARNÊ DE PAGAMENTOS  - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param nossoNumero Número identificador do boleto no Sisbr.Caso seja informado, não é necessário informar a linha digitável ou código de barras. (optional)
     * @param linhaDigitavel Número da linha digitável do boleto com 47 posições.Caso seja informado, não é necessário informar o nosso número ou código de barras. (optional)
     * @param codigoBarras Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou a linha digitável. (optional)
     * @param gerarPdf Identificador para o sistema devolver ou não o PDF do Boleto. O PDF será retornado na Base64. (optional)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @return InlineResponse2003
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2003 boletosSegundaViaGet(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Boolean gerarPdf, Long numeroContratoCobranca) throws ApiException {
        ApiResponse<InlineResponse2003> localVarResp = boletosSegundaViaGetWithHttpInfo(numeroCliente, codigoModalidade, nossoNumero, linhaDigitavel, codigoBarras, gerarPdf, numeroContratoCobranca);
        return localVarResp.getData();
    }

    /**
     * Emitir segunda via de um boleto
     * Serviço para emissão da segunda via de boleto já registrado. Utiliza as informações do beneficiário logado (número da cooperativa, número identificador do beneficiário e conta corrente), juntamente com a informação do identificador do boleto (nosso número), ou da linha digitável ou do código de barras. Quando informados código de barras ou linha digitável, a pesquisa é realiazada prioritariamente por estes parâmetros.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 5 - CARNÊ DE PAGAMENTOS  - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param nossoNumero Número identificador do boleto no Sisbr.Caso seja informado, não é necessário informar a linha digitável ou código de barras. (optional)
     * @param linhaDigitavel Número da linha digitável do boleto com 47 posições.Caso seja informado, não é necessário informar o nosso número ou código de barras. (optional)
     * @param codigoBarras Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou a linha digitável. (optional)
     * @param gerarPdf Identificador para o sistema devolver ou não o PDF do Boleto. O PDF será retornado na Base64. (optional)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @return ApiResponse&lt;InlineResponse2003&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2003> boletosSegundaViaGetWithHttpInfo(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Boolean gerarPdf, Long numeroContratoCobranca) throws ApiException {
        okhttp3.Call localVarCall = boletosSegundaViaGetValidateBeforeCall(numeroCliente, codigoModalidade, nossoNumero, linhaDigitavel, codigoBarras, gerarPdf, numeroContratoCobranca, null);
        Type localVarReturnType = new TypeToken<InlineResponse2003>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Emitir segunda via de um boleto (asynchronously)
     * Serviço para emissão da segunda via de boleto já registrado. Utiliza as informações do beneficiário logado (número da cooperativa, número identificador do beneficiário e conta corrente), juntamente com a informação do identificador do boleto (nosso número), ou da linha digitável ou do código de barras. Quando informados código de barras ou linha digitável, a pesquisa é realiazada prioritariamente por estes parâmetros.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoModalidade Identifica a modalidade do boleto. - 1 - SIMPLES COM REGISTRO - 3 - CAUCIONADA - 4 - VINCULADA - 5 - CARNÊ DE PAGAMENTOS  - 8 - COBRANÇA CONTA CAPITAL (required)
     * @param nossoNumero Número identificador do boleto no Sisbr.Caso seja informado, não é necessário informar a linha digitável ou código de barras. (optional)
     * @param linhaDigitavel Número da linha digitável do boleto com 47 posições.Caso seja informado, não é necessário informar o nosso número ou código de barras. (optional)
     * @param codigoBarras Número de código de barras do boleto com 44 posições.Caso seja informado, não é necessário informar o nosso número ou a linha digitável. (optional)
     * @param gerarPdf Identificador para o sistema devolver ou não o PDF do Boleto. O PDF será retornado na Base64. (optional)
     * @param numeroContratoCobranca Indicar o id do contatro de cobrança (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosSegundaViaGetAsync(Integer numeroCliente, Integer codigoModalidade, Integer nossoNumero, String linhaDigitavel, String codigoBarras, Boolean gerarPdf, Long numeroContratoCobranca, final ApiCallback<InlineResponse2003> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosSegundaViaGetValidateBeforeCall(numeroCliente, codigoModalidade, nossoNumero, linhaDigitavel, codigoBarras, gerarPdf, numeroContratoCobranca, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2003>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for pagadoresNumeroCpfCnpjBoletosGet
     * @param numeroCpfCnpj CPF ou CNPJ do pagador. &#x60;Tamanho máximo 14&#x60; (required)
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSituacao Código da Situação do Boleto.   - 1 Entrada Normal   - 2 Baixado   - 3 Liquidado (optional)
     * @param dataInicio Data de Vencimento Inicial. Formato: yyyy-MM-dd  (optional)
     * @param dataFim Data de Vencimento Final. Formato: yyyy-MM-dd  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call pagadoresNumeroCpfCnpjBoletosGetCall(String numeroCpfCnpj, Integer numeroCliente, Integer codigoSituacao, LocalDate dataInicio, LocalDate dataFim, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/pagadores/{numeroCpfCnpj}/boletos"
            .replaceAll("\\{" + "numeroCpfCnpj" + "\\}", localVarApiClient.escapeString(numeroCpfCnpj.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (numeroCliente != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("numeroCliente", numeroCliente));
        }

        if (codigoSituacao != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codigoSituacao", codigoSituacao));
        }

        if (dataInicio != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("dataInicio", dataInicio));
        }

        if (dataFim != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("dataFim", dataFim));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call pagadoresNumeroCpfCnpjBoletosGetValidateBeforeCall(String numeroCpfCnpj, Integer numeroCliente, Integer codigoSituacao, LocalDate dataInicio, LocalDate dataFim, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'numeroCpfCnpj' is set
        if (numeroCpfCnpj == null) {
            throw new ApiException("Missing the required parameter 'numeroCpfCnpj' when calling pagadoresNumeroCpfCnpjBoletosGet(Async)");
        }
        
        // verify the required parameter 'numeroCliente' is set
        if (numeroCliente == null) {
            throw new ApiException("Missing the required parameter 'numeroCliente' when calling pagadoresNumeroCpfCnpjBoletosGet(Async)");
        }
        

        okhttp3.Call localVarCall = pagadoresNumeroCpfCnpjBoletosGetCall(numeroCpfCnpj, numeroCliente, codigoSituacao, dataInicio, dataFim, _callback);
        return localVarCall;

    }

    /**
     * Listar Boletos por Pagador
     * Serviço para listagem de boletos por Pagador.
     * @param numeroCpfCnpj CPF ou CNPJ do pagador. &#x60;Tamanho máximo 14&#x60; (required)
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSituacao Código da Situação do Boleto.   - 1 Entrada Normal   - 2 Baixado   - 3 Liquidado (optional)
     * @param dataInicio Data de Vencimento Inicial. Formato: yyyy-MM-dd  (optional)
     * @param dataFim Data de Vencimento Final. Formato: yyyy-MM-dd  (optional)
     * @return InlineResponse2002
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2002 pagadoresNumeroCpfCnpjBoletosGet(String numeroCpfCnpj, Integer numeroCliente, Integer codigoSituacao, LocalDate dataInicio, LocalDate dataFim) throws ApiException {
        ApiResponse<InlineResponse2002> localVarResp = pagadoresNumeroCpfCnpjBoletosGetWithHttpInfo(numeroCpfCnpj, numeroCliente, codigoSituacao, dataInicio, dataFim);
        return localVarResp.getData();
    }

    /**
     * Listar Boletos por Pagador
     * Serviço para listagem de boletos por Pagador.
     * @param numeroCpfCnpj CPF ou CNPJ do pagador. &#x60;Tamanho máximo 14&#x60; (required)
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSituacao Código da Situação do Boleto.   - 1 Entrada Normal   - 2 Baixado   - 3 Liquidado (optional)
     * @param dataInicio Data de Vencimento Inicial. Formato: yyyy-MM-dd  (optional)
     * @param dataFim Data de Vencimento Final. Formato: yyyy-MM-dd  (optional)
     * @return ApiResponse&lt;InlineResponse2002&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2002> pagadoresNumeroCpfCnpjBoletosGetWithHttpInfo(String numeroCpfCnpj, Integer numeroCliente, Integer codigoSituacao, LocalDate dataInicio, LocalDate dataFim) throws ApiException {
        okhttp3.Call localVarCall = pagadoresNumeroCpfCnpjBoletosGetValidateBeforeCall(numeroCpfCnpj, numeroCliente, codigoSituacao, dataInicio, dataFim, null);
        Type localVarReturnType = new TypeToken<InlineResponse2002>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Listar Boletos por Pagador (asynchronously)
     * Serviço para listagem de boletos por Pagador.
     * @param numeroCpfCnpj CPF ou CNPJ do pagador. &#x60;Tamanho máximo 14&#x60; (required)
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSituacao Código da Situação do Boleto.   - 1 Entrada Normal   - 2 Baixado   - 3 Liquidado (optional)
     * @param dataInicio Data de Vencimento Inicial. Formato: yyyy-MM-dd  (optional)
     * @param dataFim Data de Vencimento Final. Formato: yyyy-MM-dd  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call pagadoresNumeroCpfCnpjBoletosGetAsync(String numeroCpfCnpj, Integer numeroCliente, Integer codigoSituacao, LocalDate dataInicio, LocalDate dataFim, final ApiCallback<InlineResponse2002> _callback) throws ApiException {

        okhttp3.Call localVarCall = pagadoresNumeroCpfCnpjBoletosGetValidateBeforeCall(numeroCpfCnpj, numeroCliente, codigoSituacao, dataInicio, dataFim, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2002>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
