/*
 * Cobrança Bancária
 * <pre>[ Base URL: https://api.sicoob.com.br/cobranca-bancaria/v3 ]</pre> A Cobrança Bancária Sicoob é um conjunto de serviços oferecidos a seus associados para recebimento de valores referentes às vendas de produtos e serviços da sua empresa, por meio de boletos de cobrança, pagos em toda a rede bancária. Esta API disponibiliza funcionalidades que auxiliam na gestão da carteira registrada, tornando viável todo o processo de acompanhamento, desde a inclusão de novos boletos, alteração de informações relevantes, protesto/negativação de títulos vencidos e não pagos, até a liquidação ou baixa do título.
 *
 * The version of the OpenAPI document: 3.0.8.0
 * Contact: GrupoGesin1CobrancaBancaria@sicoob.com.br
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package br.com.fidias.sicoob_cobranca.api;

import br.com.fidias.sicoob_cobranca.ApiCallback;
import br.com.fidias.sicoob_cobranca.ApiClient;
import br.com.fidias.sicoob_cobranca.ApiException;
import br.com.fidias.sicoob_cobranca.ApiResponse;
import br.com.fidias.sicoob_cobranca.Configuration;
import br.com.fidias.sicoob_cobranca.Pair;
import br.com.fidias.sicoob_cobranca.ProgressRequestBody;
import br.com.fidias.sicoob_cobranca.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import br.com.fidias.sicoob_cobranca.model.InlineObject;
import br.com.fidias.sicoob_cobranca.model.InlineResponse2005;
import br.com.fidias.sicoob_cobranca.model.InlineResponse2006;
import br.com.fidias.sicoob_cobranca.model.InlineResponse2007;
import br.com.fidias.sicoob_cobranca.model.MensagensErro;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MovimentaoApi {
    private ApiClient localVarApiClient;

    public MovimentaoApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MovimentaoApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for boletosMovimentacoesDownloadGet
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSolicitacao Código da solicitação que deseja consultar a quantidade de arquivos que serão gerados (required)
     * @param idArquivo ID do arquivo para download (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Erro de negócio </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosMovimentacoesDownloadGetCall(Integer numeroCliente, Integer codigoSolicitacao, Integer idArquivo, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/boletos/movimentacoes/download";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (numeroCliente != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("numeroCliente", numeroCliente));
        }

        if (codigoSolicitacao != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codigoSolicitacao", codigoSolicitacao));
        }

        if (idArquivo != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("idArquivo", idArquivo));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosMovimentacoesDownloadGetValidateBeforeCall(Integer numeroCliente, Integer codigoSolicitacao, Integer idArquivo, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'numeroCliente' is set
        if (numeroCliente == null) {
            throw new ApiException("Missing the required parameter 'numeroCliente' when calling boletosMovimentacoesDownloadGet(Async)");
        }
        
        // verify the required parameter 'codigoSolicitacao' is set
        if (codigoSolicitacao == null) {
            throw new ApiException("Missing the required parameter 'codigoSolicitacao' when calling boletosMovimentacoesDownloadGet(Async)");
        }
        
        // verify the required parameter 'idArquivo' is set
        if (idArquivo == null) {
            throw new ApiException("Missing the required parameter 'idArquivo' when calling boletosMovimentacoesDownloadGet(Async)");
        }
        

        okhttp3.Call localVarCall = boletosMovimentacoesDownloadGetCall(numeroCliente, codigoSolicitacao, idArquivo, _callback);
        return localVarCall;

    }

    /**
     * Download do(s) arquivo(s) de movimentação.
     * Serviço para obter um arquivo de movimentação.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSolicitacao Código da solicitação que deseja consultar a quantidade de arquivos que serão gerados (required)
     * @param idArquivo ID do arquivo para download (required)
     * @return InlineResponse2007
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Erro de negócio </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2007 boletosMovimentacoesDownloadGet(Integer numeroCliente, Integer codigoSolicitacao, Integer idArquivo) throws ApiException {
        ApiResponse<InlineResponse2007> localVarResp = boletosMovimentacoesDownloadGetWithHttpInfo(numeroCliente, codigoSolicitacao, idArquivo);
        return localVarResp.getData();
    }

    /**
     * Download do(s) arquivo(s) de movimentação.
     * Serviço para obter um arquivo de movimentação.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSolicitacao Código da solicitação que deseja consultar a quantidade de arquivos que serão gerados (required)
     * @param idArquivo ID do arquivo para download (required)
     * @return ApiResponse&lt;InlineResponse2007&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Erro de negócio </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2007> boletosMovimentacoesDownloadGetWithHttpInfo(Integer numeroCliente, Integer codigoSolicitacao, Integer idArquivo) throws ApiException {
        okhttp3.Call localVarCall = boletosMovimentacoesDownloadGetValidateBeforeCall(numeroCliente, codigoSolicitacao, idArquivo, null);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Download do(s) arquivo(s) de movimentação. (asynchronously)
     * Serviço para obter um arquivo de movimentação.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSolicitacao Código da solicitação que deseja consultar a quantidade de arquivos que serão gerados (required)
     * @param idArquivo ID do arquivo para download (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Erro de negócio </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosMovimentacoesDownloadGetAsync(Integer numeroCliente, Integer codigoSolicitacao, Integer idArquivo, final ApiCallback<InlineResponse2007> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosMovimentacoesDownloadGetValidateBeforeCall(numeroCliente, codigoSolicitacao, idArquivo, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2007>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosMovimentacoesGet
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSolicitacao Código da solicitação que deseja consultar a quantidade de arquivos que serão gerados (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosMovimentacoesGetCall(Integer numeroCliente, Integer codigoSolicitacao, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/boletos/movimentacoes";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (numeroCliente != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("numeroCliente", numeroCliente));
        }

        if (codigoSolicitacao != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("codigoSolicitacao", codigoSolicitacao));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosMovimentacoesGetValidateBeforeCall(Integer numeroCliente, Integer codigoSolicitacao, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'numeroCliente' is set
        if (numeroCliente == null) {
            throw new ApiException("Missing the required parameter 'numeroCliente' when calling boletosMovimentacoesGet(Async)");
        }
        
        // verify the required parameter 'codigoSolicitacao' is set
        if (codigoSolicitacao == null) {
            throw new ApiException("Missing the required parameter 'codigoSolicitacao' when calling boletosMovimentacoesGet(Async)");
        }
        

        okhttp3.Call localVarCall = boletosMovimentacoesGetCall(numeroCliente, codigoSolicitacao, _callback);
        return localVarCall;

    }

    /**
     * Consultar a situação da solicitação da movimentação
     * Serviço para consultar a situação da solicitação da movimentação.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSolicitacao Código da solicitação que deseja consultar a quantidade de arquivos que serão gerados (required)
     * @return InlineResponse2005
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2005 boletosMovimentacoesGet(Integer numeroCliente, Integer codigoSolicitacao) throws ApiException {
        ApiResponse<InlineResponse2005> localVarResp = boletosMovimentacoesGetWithHttpInfo(numeroCliente, codigoSolicitacao);
        return localVarResp.getData();
    }

    /**
     * Consultar a situação da solicitação da movimentação
     * Serviço para consultar a situação da solicitação da movimentação.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSolicitacao Código da solicitação que deseja consultar a quantidade de arquivos que serão gerados (required)
     * @return ApiResponse&lt;InlineResponse2005&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2005> boletosMovimentacoesGetWithHttpInfo(Integer numeroCliente, Integer codigoSolicitacao) throws ApiException {
        okhttp3.Call localVarCall = boletosMovimentacoesGetValidateBeforeCall(numeroCliente, codigoSolicitacao, null);
        Type localVarReturnType = new TypeToken<InlineResponse2005>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Consultar a situação da solicitação da movimentação (asynchronously)
     * Serviço para consultar a situação da solicitação da movimentação.
     * @param numeroCliente Número que identifica o contrato do beneficiário no Sisbr. (required)
     * @param codigoSolicitacao Código da solicitação que deseja consultar a quantidade de arquivos que serão gerados (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 204 </td><td> A requisição foi processada com êxito e não está retornando conteúdo. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosMovimentacoesGetAsync(Integer numeroCliente, Integer codigoSolicitacao, final ApiCallback<InlineResponse2005> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosMovimentacoesGetValidateBeforeCall(numeroCliente, codigoSolicitacao, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2005>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosMovimentacoesPost
     * @param solicitacao  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosMovimentacoesPostCall(InlineObject solicitacao, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = solicitacao;

        // create path and map variables
        String localVarPath = "/boletos/movimentacoes";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosMovimentacoesPostValidateBeforeCall(InlineObject solicitacao, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'solicitacao' is set
        if (solicitacao == null) {
            throw new ApiException("Missing the required parameter 'solicitacao' when calling boletosMovimentacoesPost(Async)");
        }
        

        okhttp3.Call localVarCall = boletosMovimentacoesPostCall(solicitacao, _callback);
        return localVarCall;

    }

    /**
     * Solicitar a movimentação da carteira de cobrança registrada para beneficiário informado
     * Serviço para solicitar a movimentação da carteira de cobrança registrada para beneficiário informado. Os movimentos disponíveis para solicitaçao são 1. Entrada 2. Prorrogação 3. A Vencer 4. Vencido 5. Liquidação 6. Baixa 7. Vinculado Operações Crédito * As consultas estão limitadas em um período máximo de 2 dias.
     * @param solicitacao  (required)
     * @return InlineResponse2006
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public InlineResponse2006 boletosMovimentacoesPost(InlineObject solicitacao) throws ApiException {
        ApiResponse<InlineResponse2006> localVarResp = boletosMovimentacoesPostWithHttpInfo(solicitacao);
        return localVarResp.getData();
    }

    /**
     * Solicitar a movimentação da carteira de cobrança registrada para beneficiário informado
     * Serviço para solicitar a movimentação da carteira de cobrança registrada para beneficiário informado. Os movimentos disponíveis para solicitaçao são 1. Entrada 2. Prorrogação 3. A Vencer 4. Vencido 5. Liquidação 6. Baixa 7. Vinculado Operações Crédito * As consultas estão limitadas em um período máximo de 2 dias.
     * @param solicitacao  (required)
     * @return ApiResponse&lt;InlineResponse2006&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InlineResponse2006> boletosMovimentacoesPostWithHttpInfo(InlineObject solicitacao) throws ApiException {
        okhttp3.Call localVarCall = boletosMovimentacoesPostValidateBeforeCall(solicitacao, null);
        Type localVarReturnType = new TypeToken<InlineResponse2006>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Solicitar a movimentação da carteira de cobrança registrada para beneficiário informado (asynchronously)
     * Serviço para solicitar a movimentação da carteira de cobrança registrada para beneficiário informado. Os movimentos disponíveis para solicitaçao são 1. Entrada 2. Prorrogação 3. A Vencer 4. Vencido 5. Liquidação 6. Baixa 7. Vinculado Operações Crédito * As consultas estão limitadas em um período máximo de 2 dias.
     * @param solicitacao  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosMovimentacoesPostAsync(InlineObject solicitacao, final ApiCallback<InlineResponse2006> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosMovimentacoesPostValidateBeforeCall(solicitacao, _callback);
        Type localVarReturnType = new TypeToken<InlineResponse2006>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
