/*
 * Cobrança Bancária
 * <pre>[ Base URL: https://api.sicoob.com.br/cobranca-bancaria/v3 ]</pre> A Cobrança Bancária Sicoob é um conjunto de serviços oferecidos a seus associados para recebimento de valores referentes às vendas de produtos e serviços da sua empresa, por meio de boletos de cobrança, pagos em toda a rede bancária. Esta API disponibiliza funcionalidades que auxiliam na gestão da carteira registrada, tornando viável todo o processo de acompanhamento, desde a inclusão de novos boletos, alteração de informações relevantes, protesto/negativação de títulos vencidos e não pagos, até a liquidação ou baixa do título.
 *
 * The version of the OpenAPI document: 3.0.8.0
 * Contact: GrupoGesin1CobrancaBancaria@sicoob.com.br
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package br.com.fidias.sicoob_cobranca.api;

import br.com.fidias.sicoob_cobranca.ApiCallback;
import br.com.fidias.sicoob_cobranca.ApiClient;
import br.com.fidias.sicoob_cobranca.ApiException;
import br.com.fidias.sicoob_cobranca.ApiResponse;
import br.com.fidias.sicoob_cobranca.Configuration;
import br.com.fidias.sicoob_cobranca.Pair;
import br.com.fidias.sicoob_cobranca.ProgressRequestBody;
import br.com.fidias.sicoob_cobranca.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import br.com.fidias.sicoob_cobranca.model.MensagensErro;
import br.com.fidias.sicoob_cobranca.model.Negativacao;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NegativaoApi {
    private ApiClient localVarApiClient;

    public NegativaoApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NegativaoApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for boletosNossoNumeroNegativacoesDelete
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroNegativacoesDeleteCall(Integer nossoNumero, Negativacao boleto, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = boleto;

        // create path and map variables
        String localVarPath = "/boletos/{nossoNumero}/negativacoes"
            .replaceAll("\\{" + "nossoNumero" + "\\}", localVarApiClient.escapeString(nossoNumero.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosNossoNumeroNegativacoesDeleteValidateBeforeCall(Integer nossoNumero, Negativacao boleto, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'nossoNumero' is set
        if (nossoNumero == null) {
            throw new ApiException("Missing the required parameter 'nossoNumero' when calling boletosNossoNumeroNegativacoesDelete(Async)");
        }
        
        // verify the required parameter 'boleto' is set
        if (boleto == null) {
            throw new ApiException("Missing the required parameter 'boleto' when calling boletosNossoNumeroNegativacoesDelete(Async)");
        }
        

        okhttp3.Call localVarCall = boletosNossoNumeroNegativacoesDeleteCall(nossoNumero, boleto, _callback);
        return localVarCall;

    }

    /**
     * Baixar a negativação de pagadores de boletos
     * Serviço para comandar uma baixa da negativação de pagadores de boletos informados. Será enviado um pedido de baixa para o serviço de proteção ao crédito.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public void boletosNossoNumeroNegativacoesDelete(Integer nossoNumero, Negativacao boleto) throws ApiException {
        boletosNossoNumeroNegativacoesDeleteWithHttpInfo(nossoNumero, boleto);
    }

    /**
     * Baixar a negativação de pagadores de boletos
     * Serviço para comandar uma baixa da negativação de pagadores de boletos informados. Será enviado um pedido de baixa para o serviço de proteção ao crédito.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> boletosNossoNumeroNegativacoesDeleteWithHttpInfo(Integer nossoNumero, Negativacao boleto) throws ApiException {
        okhttp3.Call localVarCall = boletosNossoNumeroNegativacoesDeleteValidateBeforeCall(nossoNumero, boleto, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Baixar a negativação de pagadores de boletos (asynchronously)
     * Serviço para comandar uma baixa da negativação de pagadores de boletos informados. Será enviado um pedido de baixa para o serviço de proteção ao crédito.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroNegativacoesDeleteAsync(Integer nossoNumero, Negativacao boleto, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosNossoNumeroNegativacoesDeleteValidateBeforeCall(nossoNumero, boleto, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosNossoNumeroNegativacoesPatch
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroNegativacoesPatchCall(Integer nossoNumero, Negativacao boleto, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = boleto;

        // create path and map variables
        String localVarPath = "/boletos/{nossoNumero}/negativacoes"
            .replaceAll("\\{" + "nossoNumero" + "\\}", localVarApiClient.escapeString(nossoNumero.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosNossoNumeroNegativacoesPatchValidateBeforeCall(Integer nossoNumero, Negativacao boleto, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'nossoNumero' is set
        if (nossoNumero == null) {
            throw new ApiException("Missing the required parameter 'nossoNumero' when calling boletosNossoNumeroNegativacoesPatch(Async)");
        }
        
        // verify the required parameter 'boleto' is set
        if (boleto == null) {
            throw new ApiException("Missing the required parameter 'boleto' when calling boletosNossoNumeroNegativacoesPatch(Async)");
        }
        

        okhttp3.Call localVarCall = boletosNossoNumeroNegativacoesPatchCall(nossoNumero, boleto, _callback);
        return localVarCall;

    }

    /**
     * Cancelar o apontamento da negativação de pagadores de boletos
     * Serviço para cancelar o apontamento da negativação de pagadores de boletos informados. O boleto não será enviado ao serviço de proteção ao crédito.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public void boletosNossoNumeroNegativacoesPatch(Integer nossoNumero, Negativacao boleto) throws ApiException {
        boletosNossoNumeroNegativacoesPatchWithHttpInfo(nossoNumero, boleto);
    }

    /**
     * Cancelar o apontamento da negativação de pagadores de boletos
     * Serviço para cancelar o apontamento da negativação de pagadores de boletos informados. O boleto não será enviado ao serviço de proteção ao crédito.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> boletosNossoNumeroNegativacoesPatchWithHttpInfo(Integer nossoNumero, Negativacao boleto) throws ApiException {
        okhttp3.Call localVarCall = boletosNossoNumeroNegativacoesPatchValidateBeforeCall(nossoNumero, boleto, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Cancelar o apontamento da negativação de pagadores de boletos (asynchronously)
     * Serviço para cancelar o apontamento da negativação de pagadores de boletos informados. O boleto não será enviado ao serviço de proteção ao crédito.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroNegativacoesPatchAsync(Integer nossoNumero, Negativacao boleto, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosNossoNumeroNegativacoesPatchValidateBeforeCall(nossoNumero, boleto, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosNossoNumeroNegativacoesPost
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boletos Informações do boleto de cobrança. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroNegativacoesPostCall(Integer nossoNumero, Negativacao boletos, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = boletos;

        // create path and map variables
        String localVarPath = "/boletos/{nossoNumero}/negativacoes"
            .replaceAll("\\{" + "nossoNumero" + "\\}", localVarApiClient.escapeString(nossoNumero.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosNossoNumeroNegativacoesPostValidateBeforeCall(Integer nossoNumero, Negativacao boletos, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'nossoNumero' is set
        if (nossoNumero == null) {
            throw new ApiException("Missing the required parameter 'nossoNumero' when calling boletosNossoNumeroNegativacoesPost(Async)");
        }
        
        // verify the required parameter 'boletos' is set
        if (boletos == null) {
            throw new ApiException("Missing the required parameter 'boletos' when calling boletosNossoNumeroNegativacoesPost(Async)");
        }
        

        okhttp3.Call localVarCall = boletosNossoNumeroNegativacoesPostCall(nossoNumero, boletos, _callback);
        return localVarCall;

    }

    /**
     * Negativar pagadores de boletos
     * Serviço para indicar a negativação de pagadores de boletos informados. A negativação é o registro de pendências ou restrições nos órgãos de proteção ao crédito. No Sicoob, o parceiro para este serviço é o SERASA.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boletos Informações do boleto de cobrança. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public void boletosNossoNumeroNegativacoesPost(Integer nossoNumero, Negativacao boletos) throws ApiException {
        boletosNossoNumeroNegativacoesPostWithHttpInfo(nossoNumero, boletos);
    }

    /**
     * Negativar pagadores de boletos
     * Serviço para indicar a negativação de pagadores de boletos informados. A negativação é o registro de pendências ou restrições nos órgãos de proteção ao crédito. No Sicoob, o parceiro para este serviço é o SERASA.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boletos Informações do boleto de cobrança. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> boletosNossoNumeroNegativacoesPostWithHttpInfo(Integer nossoNumero, Negativacao boletos) throws ApiException {
        okhttp3.Call localVarCall = boletosNossoNumeroNegativacoesPostValidateBeforeCall(nossoNumero, boletos, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Negativar pagadores de boletos (asynchronously)
     * Serviço para indicar a negativação de pagadores de boletos informados. A negativação é o registro de pendências ou restrições nos órgãos de proteção ao crédito. No Sicoob, o parceiro para este serviço é o SERASA.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boletos Informações do boleto de cobrança. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroNegativacoesPostAsync(Integer nossoNumero, Negativacao boletos, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosNossoNumeroNegativacoesPostValidateBeforeCall(nossoNumero, boletos, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
