/*
 * Cobrança Bancária
 * <pre>[ Base URL: https://api.sicoob.com.br/cobranca-bancaria/v3 ]</pre> A Cobrança Bancária Sicoob é um conjunto de serviços oferecidos a seus associados para recebimento de valores referentes às vendas de produtos e serviços da sua empresa, por meio de boletos de cobrança, pagos em toda a rede bancária. Esta API disponibiliza funcionalidades que auxiliam na gestão da carteira registrada, tornando viável todo o processo de acompanhamento, desde a inclusão de novos boletos, alteração de informações relevantes, protesto/negativação de títulos vencidos e não pagos, até a liquidação ou baixa do título.
 *
 * The version of the OpenAPI document: 3.0.8.0
 * Contact: GrupoGesin1CobrancaBancaria@sicoob.com.br
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package br.com.fidias.sicoob_cobranca.api;

import br.com.fidias.sicoob_cobranca.ApiCallback;
import br.com.fidias.sicoob_cobranca.ApiClient;
import br.com.fidias.sicoob_cobranca.ApiException;
import br.com.fidias.sicoob_cobranca.ApiResponse;
import br.com.fidias.sicoob_cobranca.Configuration;
import br.com.fidias.sicoob_cobranca.Pair;
import br.com.fidias.sicoob_cobranca.ProgressRequestBody;
import br.com.fidias.sicoob_cobranca.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import br.com.fidias.sicoob_cobranca.model.MensagensErro;
import br.com.fidias.sicoob_cobranca.model.Protesto;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProtestoApi {
    private ApiClient localVarApiClient;

    public ProtestoApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProtestoApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for boletosNossoNumeroProtestosDelete
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroProtestosDeleteCall(Integer nossoNumero, Protesto boleto, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = boleto;

        // create path and map variables
        String localVarPath = "/boletos/{nossoNumero}/protestos"
            .replaceAll("\\{" + "nossoNumero" + "\\}", localVarApiClient.escapeString(nossoNumero.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosNossoNumeroProtestosDeleteValidateBeforeCall(Integer nossoNumero, Protesto boleto, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'nossoNumero' is set
        if (nossoNumero == null) {
            throw new ApiException("Missing the required parameter 'nossoNumero' when calling boletosNossoNumeroProtestosDelete(Async)");
        }
        
        // verify the required parameter 'boleto' is set
        if (boleto == null) {
            throw new ApiException("Missing the required parameter 'boleto' when calling boletosNossoNumeroProtestosDelete(Async)");
        }
        

        okhttp3.Call localVarCall = boletosNossoNumeroProtestosDeleteCall(nossoNumero, boleto, _callback);
        return localVarCall;

    }

    /**
     * Desistir do protesto de boletos
     * Este serviço realiza o pedido de desistência do protesto de boletos informados. O pedido de desistência não garante que o protesto será retirado. Deve-se aguardar o retorno do cartório. O pedido de desistência pode ser realizado a qualquer momento, desde que haja um apontamento prévio.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public void boletosNossoNumeroProtestosDelete(Integer nossoNumero, Protesto boleto) throws ApiException {
        boletosNossoNumeroProtestosDeleteWithHttpInfo(nossoNumero, boleto);
    }

    /**
     * Desistir do protesto de boletos
     * Este serviço realiza o pedido de desistência do protesto de boletos informados. O pedido de desistência não garante que o protesto será retirado. Deve-se aguardar o retorno do cartório. O pedido de desistência pode ser realizado a qualquer momento, desde que haja um apontamento prévio.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> boletosNossoNumeroProtestosDeleteWithHttpInfo(Integer nossoNumero, Protesto boleto) throws ApiException {
        okhttp3.Call localVarCall = boletosNossoNumeroProtestosDeleteValidateBeforeCall(nossoNumero, boleto, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Desistir do protesto de boletos (asynchronously)
     * Este serviço realiza o pedido de desistência do protesto de boletos informados. O pedido de desistência não garante que o protesto será retirado. Deve-se aguardar o retorno do cartório. O pedido de desistência pode ser realizado a qualquer momento, desde que haja um apontamento prévio.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto de cobrança. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroProtestosDeleteAsync(Integer nossoNumero, Protesto boleto, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosNossoNumeroProtestosDeleteValidateBeforeCall(nossoNumero, boleto, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosNossoNumeroProtestosPatch
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto bancário. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroProtestosPatchCall(Integer nossoNumero, Protesto boleto, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = boleto;

        // create path and map variables
        String localVarPath = "/boletos/{nossoNumero}/protestos"
            .replaceAll("\\{" + "nossoNumero" + "\\}", localVarApiClient.escapeString(nossoNumero.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosNossoNumeroProtestosPatchValidateBeforeCall(Integer nossoNumero, Protesto boleto, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'nossoNumero' is set
        if (nossoNumero == null) {
            throw new ApiException("Missing the required parameter 'nossoNumero' when calling boletosNossoNumeroProtestosPatch(Async)");
        }
        
        // verify the required parameter 'boleto' is set
        if (boleto == null) {
            throw new ApiException("Missing the required parameter 'boleto' when calling boletosNossoNumeroProtestosPatch(Async)");
        }
        

        okhttp3.Call localVarCall = boletosNossoNumeroProtestosPatchCall(nossoNumero, boleto, _callback);
        return localVarCall;

    }

    /**
     * Cancelar o apontamento de protesto de boletos
     * Este serviço realiza a indicação de cancelamento de protesto de boletos informados. Os boletos em atraso e não pagos podem ser indicados a protesto. Caso seja realizado no mesmo dia, pode-se cancelar o apontamento a protesto.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto bancário. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public void boletosNossoNumeroProtestosPatch(Integer nossoNumero, Protesto boleto) throws ApiException {
        boletosNossoNumeroProtestosPatchWithHttpInfo(nossoNumero, boleto);
    }

    /**
     * Cancelar o apontamento de protesto de boletos
     * Este serviço realiza a indicação de cancelamento de protesto de boletos informados. Os boletos em atraso e não pagos podem ser indicados a protesto. Caso seja realizado no mesmo dia, pode-se cancelar o apontamento a protesto.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto bancário. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> boletosNossoNumeroProtestosPatchWithHttpInfo(Integer nossoNumero, Protesto boleto) throws ApiException {
        okhttp3.Call localVarCall = boletosNossoNumeroProtestosPatchValidateBeforeCall(nossoNumero, boleto, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Cancelar o apontamento de protesto de boletos (asynchronously)
     * Este serviço realiza a indicação de cancelamento de protesto de boletos informados. Os boletos em atraso e não pagos podem ser indicados a protesto. Caso seja realizado no mesmo dia, pode-se cancelar o apontamento a protesto.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boleto Informações do boleto bancário. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroProtestosPatchAsync(Integer nossoNumero, Protesto boleto, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosNossoNumeroProtestosPatchValidateBeforeCall(nossoNumero, boleto, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for boletosNossoNumeroProtestosPost
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boletos Informações do boleto bancário. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroProtestosPostCall(Integer nossoNumero, Protesto boletos, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = boletos;

        // create path and map variables
        String localVarPath = "/boletos/{nossoNumero}/protestos"
            .replaceAll("\\{" + "nossoNumero" + "\\}", localVarApiClient.escapeString(nossoNumero.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call boletosNossoNumeroProtestosPostValidateBeforeCall(Integer nossoNumero, Protesto boletos, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'nossoNumero' is set
        if (nossoNumero == null) {
            throw new ApiException("Missing the required parameter 'nossoNumero' when calling boletosNossoNumeroProtestosPost(Async)");
        }
        
        // verify the required parameter 'boletos' is set
        if (boletos == null) {
            throw new ApiException("Missing the required parameter 'boletos' when calling boletosNossoNumeroProtestosPost(Async)");
        }
        

        okhttp3.Call localVarCall = boletosNossoNumeroProtestosPostCall(nossoNumero, boletos, _callback);
        return localVarCall;

    }

    /**
     * Protestar boletos
     * Este serviço registra a indicação a protesto de boletos informados. Os boletos vencidos e não pagos podem ser protestados e registrados em cartório.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boletos Informações do boleto bancário. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public void boletosNossoNumeroProtestosPost(Integer nossoNumero, Protesto boletos) throws ApiException {
        boletosNossoNumeroProtestosPostWithHttpInfo(nossoNumero, boletos);
    }

    /**
     * Protestar boletos
     * Este serviço registra a indicação a protesto de boletos informados. Os boletos vencidos e não pagos podem ser protestados e registrados em cartório.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boletos Informações do boleto bancário. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> boletosNossoNumeroProtestosPostWithHttpInfo(Integer nossoNumero, Protesto boletos) throws ApiException {
        okhttp3.Call localVarCall = boletosNossoNumeroProtestosPostValidateBeforeCall(nossoNumero, boletos, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Protestar boletos (asynchronously)
     * Este serviço registra a indicação a protesto de boletos informados. Os boletos vencidos e não pagos podem ser protestados e registrados em cartório.
     * @param nossoNumero Número que identifica o boleto de cobrança no Sisbr (required)
     * @param boletos Informações do boleto bancário. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Solicitação recebida com sucesso. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Possíveis erros de negócio. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> Possíveis erros de inconsistência nos dados passados. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Erro interno </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call boletosNossoNumeroProtestosPostAsync(Integer nossoNumero, Protesto boletos, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = boletosNossoNumeroProtestosPostValidateBeforeCall(nossoNumero, boletos, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
